/* Many thanks to Namela Type https://www.behance.net/namelatype */
@font-face {
    font-family: Marhey;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Marhey-Light.ttf')  format('truetype');
}

@font-face {
    font-family: Marhey;
    font-style: normal;
    font-weight: 500;
    src: url('../font/Marhey-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: Marhey;
    font-style: normal;
    font-weight: 600;
    src: url('../font/Marhey-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: Marhey;
    font-style: normal;
    font-weight: 700;
    src: url('../font/Marhey-Bold.ttf')  format('truetype');
}


/*KEEP THIS MQ IN SYNC WITH THE JQ isMobileMQ variable in halkamonth.html*/
@media only screen and (max-width: 500px) {
	.gt-desktop-only {
		display: none;
	}
	thead {
		border-right: solid 2px black;
	}
}


/* https://www.colorcombos.com/color-schemes/7625/ColorCombo7625.html */
.hifzo .navbar {
	background-color: #5a8aff;
}

body.hifzo, .bg-hifzo, .card {
	font-family: Marhey;
	background-color:  #FFFFFF!important;
}

.secondary-card, .highlight-card {
	border-radius: 1.5em;
    box-shadow: 0.1em 0.1em 0.5em 0em dimgrey;
    margin-top: 1em;
}

.highlight-card.bg-white {
    background-color: white!important;
}

.highlight-card {
	background-color: #8ED2C9!important;
}

.hifzo .btn-primary {
    color: #fff;
    background-color: #659c4d;
    border-color: #558441;
}

.hifzo a {
	color:  #2753ff;
}

.hifzo a.btn {
	color: #FCF4D9!important;
}

.hifzo select.link-select {
    background: none;
    border: none;
    height: 2em;
    cursor: pointer;
}

.citation:before {
	content:"﴿"
}

.citation:after {
	content:"﴾"
}

.page-loaded {
	display: none;
}

/*** ayaselector ***/
.ayasel-sura-title {
	background-color: wheat;
	border: solid green;
}
.ayasel-aya {
	display: inline-block;
	margin: 0.2em 0em;
	border-right: solid white 0.2em;
	border-left: solid white 0.2em;
}

.ayasel-aya>span {
    border: solid black;
    border-radius: 2em;
    cursor: pointer;
    width: 1.8em;
    display: block;
    height: 1.8em;
    font-size: 0.9em;
    line-height: 1.5em;
}

.ayasel-aya>span:hover {
	background: #46206655;
}

.ayasel-aya.ayasel-selected>span {
	background: #462066;
	color: white;
	border: solid #462066;
}

.ayasel-aya.ayasel-highlight:not(.ayasel-selected):not(:hover)>span {
	background: #46206625;
}

.ayasel-aya.ayasel-selected.ayasel-after-selected {
	border-right: solid #462066 0.2em;
}

.ayasel-aya.ayasel-selected.ayasel-before-selected {
	border-left: solid #462066 0.2em;
}

.ayasel-aya.ayasel-selected.ayasel-after-selected>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.ayasel-aya.ayasel-selected.ayasel-before-selected>span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


/********* Halkamonth stuff ************/

.goal-table.table th.gt-row-title>div,  .goal-table.table .td-sizer {
	width: 10em;
}

th.gt-row-title {
    padding: 0em;
}

.goal-table.table th.gt-row-title>div {
    padding: 1em 1em 1em 1em;
}

.gt-floating {
    position: absolute;
    z-index: 10;
    background: #e6f0ff;
    
}

.goal-table.table tr:hover th.gt-floating {
	background: #EAE2C9;/*= #FCF4D9 with .075 black of default hoverde tr;*/
}


.goal-table th[scope=row] .gt-goal-label {
	width: 10em;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
    overflow: hidden;
}

.goal-table.table td {
	padding: 0px;
}

.goal-table.table td.gt-day-total {
	padding: 0.75rem;
	border-top: 1px solid;
}

td.table-active.goal-inactive {
    background: #D7D7D7;
}

td.goal-inactive {
    background: #EEEEEE;
}

.gt-daynum {
    display: none;
    width: 100%;
    height: 0px;
    position: relative;
	top: -2.8em;
    opacity: 0.3;
    text-align: center;
}

tr:hover .gt-daynum {
	display: block;
}

th.gt-today {
	text-decoration: underline;
}

td.gt-today {
    border-right: solid 2px black;
    border-left: solid 2px black;
}

.gt-updating {
	font-style: italic;
}

#gt-updater-menu {
    animation-delay: 0.3s;
}

a.gt-updater-menu-trigger.btn {
    color: black;
    background: none;
    padding: 0.5em 0em 0em 0em;
    width: 100%;
    height: 2.9em;
}
a.gt-updater-menu-trigger.btn.gt-updater-menu-disabled {
    cursor: default
}

.gt-icon {
	color: black;
}

.gt-icon.fa-stack {
	color: black;
    height: 1em;
    line-height: 1em;
}

/*Except in case of radio*/
.gt-radio-icon.gt-icon.fa-stack {
    margin: auto;
    line-height: inherit;
    height: inherit;
}

.gt-icon strong.fa-stack-1x {
    font-size: 0.8em;
    margin-top: 0em;
}

.gt-icon.gt-acheived strong.fa-stack-1x {
    color: white;
}

.gt-radio-icon.gt-icon.gt-nogoal-icon {
	color: white;
}

.gt-icon.gt-quality-5 {
	color: #00AA11;
}

.gt-icon.gt-quality-4 {
	color: green;
}

.gt-icon.gt-quality-3 {
	color: deeppink;
}

.gt-icon.gt-quality-2 {
	color: #ff6308;
}


.gt-icon.gt-quality-1 {
	color: red;
}

.dropdown-item .gt-icon.fa-stack {
    margin-left: -0.5em;
}

.dropdown-item .gt-icon strong.fa-stack-1x {
    margin-left: -0.65em;
}

.gts-rating-ok {
	color: lightgreen;
}

.gts-rating-today {
	color: red;
}

.gts-rating-target {
	color: yellow;
}

.gts-rating-inactive {
	color: lightgray;
}

/** Self review **/
div#dlg-self-review {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    width: 100%;
}

#dlg-self-review .modal-dialog {
    margin: 0em;
}

.gt-curr-rev-day {
    border-right: solid red 2px;
    border-left: solid red 2px;
    background: #FFEEEE;
}

.gt-rev-goal.gt-curr-rev-day {
    background: #FFCCCC;
}

#rev-timer-msg.animated {
	animation-duration:2s;
}

a#rev-add-checkpoint {
    position: absolute;
    margin-top: -2.2em;
    border-radius: 2em;
}

div#rev-checkpoint-box {
    text-align: left;
    padding-top: 0.2em;
}

span.rev-checkpoint {
    font-size: 10pt;
    margin-left: 1pt;
}

#rev-checkpoints {
	vertical-align: top;
}

#pg-upd-status label {
    padding: 0.2rem;
}

/************** Dashboard  *******************/

button#gt-multi-open-key {
    float: right;
    border-radius: 50px;
}

.gt-multi-reward-mode button#gt-multi-open-key > img {
    visibility: hidden;
}

.gt-multi-reward-mode, .gt-multi-reward-mode button#gt-multi-open-key {
 	cursor: url('../img/dashboard/key.png'),auto;
}

.gt-multi-reward-mode .gt-img:not(.gt-rewardable) {
	cursor: not-allowed;
}

.gt-win-score-box {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    color: gold;
    font-size: 2.5em;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.goal-box {
    margin-top: 2em;
}
img.gt-img {
	display: inline-block;
	max-width : 6em;
}

.gt-img-box {
	height: 5em;
}

.gt-locked, .gt-sealed {
	cursor: not-allowed;
}

.gt-rewardable{
 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s infinite normal ;
}

.gt-img-box .award-collection{
	transform-origin: 50% 50%;
	animation: jumpout .5s ease;
    position: relative;
    top: -50%;
    transform: scale(.5,.5);
}

@keyframes jumpout {
  0%   {transform: translate(1em,-3em) scale(.5,.5)}
  40%  {transform: translate(0.5em,-5em) scale(.5,.5)}
  100% {transform: translate(0em,0) scale(.5,.5)}
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

a.gt-action-unlockable:active .gt-img {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.modal-full-screen .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 80vh;
    max-height: 80vh;
}

#dlg-win-screen .modal-body > img{
	height: 1.1em;
	margin-bottom: 0.4em;
}

.gt-beat {
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.2); }
}

#dlg-win-screen .modal-body .gt-score  {
    font-size: 9em;
    text-align: center;
}

#gt-score-box {
	font-size: 3em;
    text-align: center;
}

td.action-td {
	width: 1%;
	white-space: nowrap;
}

img.gt-inline-icon {
	height: 1.1em;
    display: inline-block;
}

#prg-me, #prg-time {
    transition: unset;
    border-radius: 1em;
    box-shadow: 0em 0em 0.5em black;
}

#gegen-zeit .progress-bar {
    border-radius: 1em;
}

#gegen-zeit .progress div.progress-icon-container {
    width: 0px;
    z-index: 2;
}
#gegen-zeit .progress div.progress-icon span {
    font-size: 0.9em;
}
#gegen-zeit .progress div.progress-icon {
    font-size: 1.2em;
    border-radius: 1em;
    height: 1.6em;
    border-width: 0.1em;
    border-color: white;
    border-style: solid;
    display: inline-block;
    white-space: nowrap;
    max-width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1em 0.4em;
    margin-top: -0.4em;
    margin-right: -0.5em;
    float: right;
}

#gegen-zeit .progress.prg-me div.progress-icon {
    box-shadow: 0em 0em 0.2em black;
}

#gegen-zeit .month-trophy {
    font-size: 3em;
    color: gold;
    text-align: center;
    padding: 0px;
    text-shadow: 0em 0em 0.2em gold;
    margin-top: -0.5em;
}

#gegen-zeit .progress {
	margin-top: 2em;
	overflow: visible;
	margin-left: 6em;
	margin-right: 1em;
	border-radius: 1em;
}
.award-collection {
	text-align: center;
}

#dlg-win-screen .award-collection {
     display: flex;
     justify-content: center;
}

.award-collection>.gold {
    color: gold;
    text-align: center;
    text-shadow: 0em 0em 0.2em gold;
	font-size: 2.5em;
    line-height: 1.33em !important;
    border-radius: 1em;
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    border-width: 0.1em;
    border-color: white;
    border-style: solid;
    box-shadow: 0em 0em 0.2em gray;
    background-color: #FFFFAA;
    margin-left: 0.3em;
}

.awc-icon>.gold {
    color: gold;
    text-align: center;
    text-shadow: 0em 0em 0.1em gold;
    line-height: 1.3em !important;
    border-radius: 1.5em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    border-width: 0.05em;
    border-color: white;
    border-style: solid;
    box-shadow: 0em 0em 0.1em grey;
    background-color: #FFFFAA;
    margin-left: 0.15em;
}

.awc-count {
    margin-left: 0.2em;
    font-size: 1.5em;
    line-height: .8em;
    color: gold;
    text-shadow: -1px 0 wheat, 0 1px wheat, 1px 0 wheat, 0 -1px wheat;
}


.db-show-notes i {
	font-size: 0.7em;
}

.comment-box {
    margin: 0.5em;
    border-bottom: solid 1px lightgray;
}

/* My wall page */
.mywall-coll {
	min-height: 4em;
}

.quranref {
	border-bottom: dashed 1px #0088cc;
	cursor: pointer;
}

.quranref:before {
    content: '\f02d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: green;
    margin-right: 0.3em;
    font-size: 0.7em;
}

.qr-aya {
	text-align: right;
     font-size: 1.5em;
}

a.revealed span.revealer-word, .qr-aya  span.revealer-word {
    opacity: 1;
}

span.revealer-word {
    opacity: 0;
}


a.revealer {
	color: #000000;
    border-bottom: dotted;
    border-color: lightgray;
    cursor: pointer;
}

a.revealer:hover {
    text-decoration: none;
}

/* Exercise screen */

.ex-body {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 5.1vmin;
    display: table;
    width: 100%;
    height: 100%;
}

.ex-link-btn {
    font-size: 1.5em;
}


.ex-question-row {
	height: 66vh;
}
.ex-question-body {
    text-align: right;
    font-size: 1.5em;
    background-color: white;
    border: solid 0.6rem green;
    overflow: auto;
    height: 66vh;
    font-family: sans;
}

a.exa-open-aya {
    float: left;
}

a.ex-audio-control {
	display: block;
	float: left;
	color: #28a745;
	cursor: pointer;
	padding: 0.2em;
    opacity: 0.75;
}

a.ex-audio-control:hover {
	opacity: 1;
	text-decoration: none;
}

.ex-audio-control.playing {
	color: red;
}

.ex-audio-control .exa-stop, .ex-audio-control.playing .exa-play{
	display: none;
}

.ex-audio-control.playing .exa-stop, .ex-audio-control .exa-play{
	display: block;
}

.exa-recorder {
    border-radius: 100%;
    width: 33vmin;
    height: 33vmin;
    margin-top: 2.5em;
}

.exar-msg {
    display: block;
    margin-top: -2.5em;
    color: red;
    margin-bottom: 1.5em;
}


.exar-icon {
    font-size: 15vmin;
    margin-top: 6vmin;
}

@keyframes flickerAnimation {
  0%   { box-shadow: 0px 0px 0em 0em #	#ffc107; }
  50%  { box-shadow: 0px 0px .5em .5em #ffc107; }
  100% { box-shadow: 0px 0px 0em 0em #ffc107; }
}

.exa-recorder.recording {
    animation: flickerAnimation 3s infinite;
}

.exa-recorder.recording .exar-icon,  .exa-recorder.replaying .exar-icon{
	color: red;
}

.exa-recorder.replaying {
	box-shadow: 0px 0px .5em .5em #ffc107;
}

.btn-primary.exa-recorder.recording:hover {
	background-color: #e0a800;
    border-color: #d39e00;
}

.btn-primary.exa-recorder.recording {
    background-color: #ffc107;
    border-color: #ffc107;
}

.ex-progress-row {
	height: 3vh;
}

.ex-progress {
	height: 100%;
    padding-top: 1vh;
    padding-right: 3em;
}

.ex-progress .progress {
	height: 1vh;
}

.ex-footer-row {
    text-align: center;
    height: 16vh;
}

.ex-footer-row>td {
    width: 50%;
}

.ex-title-row {
    height: 13vh;
}

.ex-title {
    text-align: center;
    font-size: 2em;
}

.ex-close {
    position: absolute;
    font-size: 3em;
    line-height: 0.5em;
    padding: 0 0.7em;
    width: 1em;
    right: 0;
    top: 0;
	opacity:0.5; 
}

a.ex-close:hover {
	text-decoration: none;
	opacity:0.8; 
}

.ex-btn.collapse.show {
    display: inline-block;
}

.ex-btn.btn, #dlg-eval .btn {
    border-radius: 6em;
    font-size: 1em;
    padding: 0em 1em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ex-quote {
	text-align: center;
	font-size: 1.5em;
}

#dlg-eval {
	font-size: 6vh;
}

/********* Self review specifics *************/
.hifzo .btn.rev-goal-btn {
	font-size: 0.7em;
}
.hifzo .btn-secondary.rev-goal-btn.active {
    color: #fff;
    background-color: #462066;
    border-color: #462066;
}

.rev-goallist {
    height: 66vh;
    overflow-y: scroll;
}

