<!doctype html>
<html dir="{{_('ltr')}}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <link rel="shortcut icon" href="{{ static("favicon.ico") }}" />

        <title>{{ _("Welcome to Hifzo" ) }}</title>
		<script type="text/javascript">
			var qurandata_api_url="{{url('qurandata_api_root')}}";
		</script>
        <script type="text/javascript" src="{{ static("hifztrack/js/jquery-2.1.1.js") }}"></script>
        <script type="text/javascript" src="{{ static("hifztrack/js/popper.min.js") }}"></script>
        <script type="text/javascript" src="{{ static("hifztrack/js/bootstrap.min.js") }}"></script>
        <script type="text/javascript" src="{{ static("hifztrack/js/hifztrack.js") }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ static("hifztrack/css/bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static("hifztrack/css/htrack.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ static("hifztrack/css/fa/css/fontawesome-all.min.css") }}">
        {% block head %}{% endblock %}
    </head>
    <body class="hifzo">
    	<div style="display:none">
    		<div id="tpl-dropdown-loading">
	    		<div class="dropdown-item text-center"><i class="fas fa-spinner fa-spin"></i></div>
			</div>
			<div id="tpl-halka-link">
				<a class="dropdown-item hlk-link" href="#">Item</a>
			</div>
    	</div>
    	
        <div class="navbar navbar-dark navbar-fixed-top navbar-expand-lg">
            <div class="{% block container_css_class %}container{% endblock %}">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url( 'index' ) }}">{{ _("Welcome to Hifzo" ) }}</a>
                    <button class="navbar-toggler" data-target="#navbar-main" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
						{% with chall=curr_challenge(user) %}
						{% if chall and chall.actionnable() > 0 %}
								<span style="position: absolute" class="badge badge-pill badge-primary">&nbsp;</span>
						{% endif %}
						{% endwith %}
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <!-- li><a href="">Nav Left</a></li -->
                        {% block navbarleft %} {% endblock %}
                    </ul>
                    
                    <ul class="navbar-nav ">
                    	{% block navbarright %} {% endblock %}
	                    <li class="nav-item">
					        <a class="nav-link" href="{{url('any_dashboard')}}" role="button">
					          <i class="fas fa-trophy fa-lg"></i>&nbsp;
					          {{ _("My Progess") }}
					        </a>
					    </li>
						{% with chall=curr_challenge(user) %}
						{% if chall %}
						<li class="nav-item">
					        <a class="nav-link" href="{{url('curr_challenge')}}" role="button">
					          <i class="fas fa-user-secret fa-lg"></i>&nbsp;
					          {{ _("My Challenge") }}
								{% if chall.actionnable() > 0 %}
									<span class="badge badge-pill badge-primary animated heartBeat infinite">{{chall.actionnable()}}</span>
								{% endif %}
						    </a>
					    </li>
						{% endif %}
						{% endwith %}

                    	{% if user.is_authenticated %}
                    	<li class="nav-item">
					        <a class="nav-link" href="{{url('any_sohba')}}" role="button">
					          <i class="fas fa-chart-line fa-lg"></i>&nbsp;
					          {{ _("My Sohbas") }}
					        </a>
					      </li>
					    {% if ischeikh(user) %}
					    <li class="nav-item">
					    	<a class="nav-link" href="{{url('cheikh_home')}}" role="button">
					          <i class="fas fa-users fa-lg"></i>&nbsp;
					          {{ _("My Talibs") }}
					        </a>
					    </li>
					    {% endif %}
	                    <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          <i class="far fa-user-circle fa-lg"></i>&nbsp;{{ user.get_full_name() }}
					        </a>
					        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					          	<a class="dropdown-item" href="{{ url( 'index' ) }}">{{ _("My Home" ) }}</a>
					          	<a class="dropdown-item" href="{{ url( 'mywall_current' ) }}">{{ _("My Badges" ) }}</a>
					          	<div class="dropdown-divider"></div>
					          	<a class="dropdown-item" href="{{ url( 'password_change' ) }}">{{ _("Change password" ) }}</a>
					          	{% if user.is_staff %}
					          	<a class="dropdown-item" href="/admin">{{ _("Administration" ) }}</a>
					          	<a class="dropdown-item" href="https://bitbucket.org/ogiweb/hifzbud/issues" target="_blank">{{_("Report issue")}}</a>
					          	{% endif %}
					          	<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url( 'logout' ) }}">{{ _("Log out" ) }}</a>
					        </div>
					      </li>
			              <li class="nav-item" id="award-counters">
								{% for counter in user.award_counters.filter(featured=True) %}
									<div class="awc-counter navbar-text"><span class="awc-icon">{{ counter.award.icon_html | safe }}</span><span class="awc-count">{{ counter.count }}</span></div> 
								{% endfor %}
						  </li>
						{% else %}
						<li><a href="{{ url( 'login' ) }}">{{ _("Log in" ) }}</a></li>
						{% endif %}
                    </ul>
                </div>
	                    
            </div>
        </div>

		
        <div class="{{ self.container_css_class()}}">
            <div id="banner" class="page-header">
                <h1>{% block title %}{% endblock %}</h1>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
			<div class="alert alert-dismissable alert-info">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
			</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
           
	
    <div id="footer">
        {% block footer %}
        <hr />
        {% endblock %}
    </div>
    </body>
</html>