<div class="ayasel-selector" class="container" dir="rtl">
	{% for r in ayarefs %}
	<div class="row ayasel-sura-title" data-suraidx="{{r.suraidx}}">
		<div class="col-12 text-center">
			{{suraname(r.suraidx)}}
		</div>
	</div>
	<div class="row justify-content-center text-center">
		{% for aya in r.getayas() %}
			<div class="ayasel-aya {{'ayasel-highlight' if ishighlighted(r.suraidx, aya.index) else ''}}" data-suraidx="{{r.suraidx}}" data-ayaidx="{{aya.index}}">
				<span title="{{aya.text}}"> {{aya.index}} </span>
			</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>