{% if notes|length == 0 %}
	<span class="no-notes">{{_("No notes yet")}}</span>
{% else %}
	{% for note in notes %}
	<div class="comment-box">
		<div class="comment-content">
			{{note.content|qrefs(context=note.goal.name)}}
		</div>
		<div class="comment-info text-right mr-2">
			{%- if note.private_to_cheikh -%}<span class="badge badge-pill badge-danger" title="{{_('Private to cheikh only')}}"><i class="far fa-eye-slash"></i></span>{% endif %}
			{{_("By %(author)s") % {'author':(note.author.get_full_name() or note.author.username)} }}
			- {{note.create_date|naturaltime}} 
			{% if showgoallink %}<br/>
			<a href="{{url('dashboard',kwargs={'pk':note.goal.halka.pk})}}" title="{{note.goal.halka.name}}">{{note.goal.name}}...</a> 
			{% endif %}
			{% if note.ex_max_score > 0 %}
			<a href="{{url('exercise',kwargs={'pk':note.pk})}}" title='{{_("Review")}}'><i class="fas fa-heartbeat"></i>{{((note.ex_last_final_score or 0) * 100.0 / note.ex_max_score)|int}}%</a> 
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endif %}