{% extends "base.html" %}
{% block title %}
{{ _("My secret word") }}
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<style>
.swc-card {
  height: 15vw;
}
.swc-card>div {
    position: relative;
    top: -15vw;
    width: 100%;
    text-align: center;
    font-size: 8vw;
}
.swc-card>img {
  width: 10vw;
}
.swc-disabled {
  opacity: 0.7;
}

</style>
<script>
$(document).on('click','.swc-clickcard', (e) => {
  $el= $(e.currentTarget);
  $el.find('img').removeClass('animated');
});

function doAjaxAction(action, params, onSuccess) {
  $.ajax({
      method:"POST",
      headers: {"X-CSRFToken":document.cookie.match(/csrftoken=([^ ;]*)/)[1]},
      data:{"action":action, ...params },
      success: function(res){
          onSuccess(res);
      },
      error: function(res){
          alert('Fail');
          location.reload();
      }
  })
}

$(document).on('click','.swc-answer', (e) => {
  $el= $(e.currentTarget);
  $el.parent().find('.swc-answer[data-answernum!='+$el.data('answernum')+']').addClass('fade');
  $el.addClass('animated heartBeat faster infinite');
  doAjaxAction('answer', $el.data(), (res) => {
    setTimeout(() => {
      if(res.correct) {
        sndsuccess.play();
        let $card=$el.parents(".modal-dialog").find(".swc-modal-correct-card");
        $card.removeClass("fade");
        $card.children().addClass("animated flipInY");
        setTimeout(() => { location.reload(); }, 5000);
      }else{
        $el.removeClass('heartBeat faster infinite').addClass('hinge');
        $el.parent().find('.swc-answer[data-answernum!='+$el.data('answernum')+']').removeClass('fade');
        sndfail.play()
      }
    }, 1000);
  });
});

</script>
{% endblock %}
{% block content %}
<div class="d-flex flex-row justify-content-around">
  {% for card in view.cards %}
  {% if card.status == 'H' %}
  <div class="p-2"><div class="swc-card swc-disabled"><img src="{{ static('img/cardback.png') }}"></img></div></div>
  {% elif card.status == 'Q' %}
  <div class="p-2">
    <!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#question-{{card.pk}}" class="swc-card swc-clickcard">
  <img src="{{ static('img/cardback.png') }}" class="{{ 'animated tada infinite' if card.can_try else '' }}"></img>
</a>

<!-- Modal -->
<div class="modal fade" id="question-{{card.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{card.question.question|safe}}
        <div class="d-flex flex-row justify-content-around">
          <div class="p-2">
            <div class="fade swc-card swc-modal-correct-card">
              <img class="" src="{{ static('img/cardfront.png') }}"/>
              <div class="">{{card.letter}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex flex-row justify-content-around">
        {% for a in card.question.answers %}
        <button type="button" class="btn btn-primary swc-answer" data-cardpk="{{card.pk}}" data-answernum="{{loop.index-1}}">{{a}}
        </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  </div>
  {% else %}
  <div class="p-2">
    <div class="swc-card">
      <img src="{{ static('img/cardfront.png') }}"/>
      <div>{{card.letter}}</div>
    </div>
  </div>
  {%endif%}
  {% endfor %}
</div>



<audio id="sndfail" src="{{static('hifztrack/audio/fail.mp3')}}" preload="auto" autostart="false" ></audio>
<audio id="sndsuccess" src="{{static('hifztrack/audio/success.mp3')}}" preload="auto" autostart="false" ></
{% endblock %}