{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
<form method="post" action=".">
  {{ csrf_input }}
  {{ form.as_p() }}

  <input type="submit" class="btn btn-primary" value="{{ _('Log in') }}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>{{ _("Forgot password" ) }}? <a href="{{ url('password_reset') }}">{{ _("Reset it" ) }}</a>!</p>
</div>
{% endblock %}
