{% extends "base.html" %}

{% block title %}{{ _("Cheikh Dashboard") }}{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">{{_("All Talibs")}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url('cheikh_home')}}?mode=halka">{{_("By Halka")}}</a>
          </li>
        </ul>
    </div>
</div>
{% if view.managed_talibs|length > 0 %}
<table class="table table-hover table-bordered table-responsive">
	<thead class="thead-dark">
		<tr>
			<th>
				{{ _("Talib") }}
			</th>
			<th>
                {{ _("Halkas") }}
            </th>
            <th>
			     {{ _("Printable tracking tables") }}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for talibs in view.managed_talibs.values() %}
	        {%with talib = talibs[0] %}
			    <tr>
                    <td>
                    <i class="far fa-user"></i>&nbsp;{{ talib.get_full_name()}}<br/>
                        <a href="{{url('progress',kwargs={'pk':talib.halka.pk,'talib':talib.user.username})}}" class="btn btn-primary" title="{{_('Open Progress Checklist')}}"><i class="fas fa-clipboard-list"></i></a>
		                <a href="{{url('curr_month_overview',kwargs={'pk':talib.halka.pk,'talib':talib.user.username})}}" class="btn btn-primary" title="{{_('Open Overview')}}"><i class="far fa-calendar-alt"></i></a>

                    </td>
                    <td>
                        <select class="link-select">
                            <option>{{_("Select")}}</option>
                            {% for t in talibs %}
                                <option value="{{url('curr_month_overview',kwargs={'pk':t.halka.pk,'talib':talib.user.username})}}">{{ t.halka.name }}</option>
                            {% endfor %}
                            <option value="{{url('cheikh_home')}}?mode=halka">{{_("Other halkas ...")}}</option>
                        </select>
                    </td>
                    <td>
                       {% for label, start, end in view.downloads %}
                           <a href="{{url('tracking_xlsx',kwargs={'talib':talib.user.username})}}?startday={{start}}&endday={{end}}" target="_blank">
                           <i class="fas fa-download"></i>&nbsp{{label}}
                           </a>&nbsp;&nbsp;
                       {% endfor %}
                    </td>
                </tr> 
            {%endwith%}
        {% endfor %} {# loop on managed_talibs#}
		
	</tbody>
</table>
{% else %}
	{{_("You don't manage any talib.")}}
{% endif %}
</div>
{% endblock %}