{% extends "base.html" %}

{% block title %}{{ _("Cheikh Dashboard") }}{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{{url('cheikh_home')}}?mode=talib">{{_("All Talibs")}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">{{_("By Halka")}}</a>
          </li>
        </ul>
    </div>
</div>
{% if view.managed_halkas|length > 0 %}
<table class="table table-hover table-bordered table-responsive">
	<thead class="thead-dark">
		<tr>
			<th>
				{{ _("Halka") }}
			</th>
			<th>
				{{ _("Talib") }}
			</th>
			<th>
			     {{ _("Printable tracking tables") }}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for halka in view.managed_halkas %}
			{% set tcount = halka.talib_set.count() %}
			{% if tcount == 0%}
			<tr>
				<th scope="row">
					<span title="{{halka.description}}">{{ halka.name }}<a href="/admin/hifztrack/halka/{{halka.pk}}/change/" title="{{_('Manage')}}" ><i class="fas fa-cog"></i></a></span>
				</th>
				<td colspan=2>
					{{ _("No talib registered") }}&nbsp;<a href="/admin/hifztrack/halka/{{halka.pk}}/change/">{{_("click here to manage")}}</a>
				</td>
			</tr>	 
			{% else %} {# Halka empty #}
			{% for talib in halka.talib_set.all() %}
				<tr>
				{% if loop.first %}
					<th scope="row" rowspan="{{tcount+1}}">
						<span title="{{halka.description}}">{{ halka.name }}<a href="/admin/hifztrack/halka/{{halka.pk}}/change/" title="{{_('Manage')}}" ><i class="fas fa-cog"></i></a></span>
					</th>
				</tr>
				<tr>
				{% endif %} {# loop first #}
					<td>
					<a href="{{url('curr_month_overview',kwargs={'pk':halka.pk,'talib':talib.user.username})}}" title="{{_('Overview')}}"><i class="far fa-user"></i>&nbsp;{{ talib.get_full_name()}}</a>
						
					</td>
					<td>
					   {% for label, start, end in view.downloads %}
					       <a href="{{url('tracking_xlsx',kwargs={'talib':talib.user.username})}}?startday={{start}}&endday={{end}}" target="_blank">
					       <i class="fas fa-download"></i>&nbsp{{label}}
					       </a>&nbsp;&nbsp;
					   {% endfor %}
					</td>
				</tr>	 
			{% endfor %}{# loop on talibs#}
			
			{% endif %} {# halka talib 0 #}
		{% endfor %} {# loop on halkas #}
		
	</tbody>
</table>
{% else %}
	{{_("You don't manage any halka.")}}
{% endif %}
</div>
{% endblock %}