{% extends "base.html" %}
{% macro ex_status(ex)%}
	{% if ex.ex_can_exercise %}
		{% if ex.ex_should_exercise() and (not ex.ex_last_finished or (view.today - ex.ex_last_finished.date()).days > 2) %}
	  <a href="#" data-target="#dlg-ex-count" data-toggle="modal" data-ex-href="{{url('exercise',kwargs={'pk':ex.pk})}}" data-ex-pk="{{ex.pk}}" class="ex-link-btn ex-ico-todo" title="{{ _('Current strength : %d %%') % ((ex.ex_last_final_score or 0) * 100.0 / ex.ex_max_score)}}" class="ico-ex-todo"> <i class="fas fa-heartbeat"></i></a>
		{% else %}
	  <a href="#" data-target="#dlg-ex-count" data-toggle="modal" data-ex-href="{{url('exercise',kwargs={'pk':ex.pk})}}" data-ex-pk="{{ex.pk}}" class="ex-link-btn ex-ico-done" title="{{ _('Current strength : %d %%') % ((ex.ex_last_final_score or 0) * 100.0 / ex.ex_max_score)}}" class="ico-ex-todo"> <i class="fas fa-heart"></i></a>
		{% endif %}
	{% endif %}
{% endmacro %}
{% macro pct(points, default) -%}
{{ (points*100.0 / view.today_stats.planned) if view.today_stats.planned > 0 else default }}
{%- endmacro%}
{% set curr_pct = pct(view.today_stats.acquired,100) %}
{% set expected_pct = pct(view.today_stats.expected_today,0) %}

{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<script type="text/javascript" src="{{ static("hifztrack/js/Chart.bundle.min.js") }}"></script>
<script type="text/javascript">
	var multiReward = {wonPoints: 0};
	function isMultiRewardMode() {
		return $("body").hasClass("gt-multi-reward-mode");
	}
	
	function playSimpleReward(res, goalpk) {
		multiReward = {
				wonPoints: multiReward.wonPoints + res.wonPoints, 
				monthPoints: res.monthPoints, 
				awards: res.awards, 
				next_award: res.next_award, 
				new_award: res.new_award || multiReward.new_award
		};
		var $sc=$($("#tpl-win-score").html());
		$sc.appendTo($("#goal-"+goalpk));
		$sc.find(".won-points").html(res.wonPoints);
		$sc.addClass("animated fadeOutUp infinite");
		
		if(res.new_award) {
			$('<div class="award-collection">'+res.new_award.icon+'</div>').insertAfter($("#goal-"+goalpk+" .gt-img"));
		}
	}
	
	function playReward(res) {
		var $wp = $("#won-points");
		var $wl = $("#won-awards");
		var $mp = $("#prg-me");
		var $tp = $("#prg-time");
		var $last_icon;
		var pct_tgt = 100;
		var pct = (res.monthPoints * 100.0)/{{view.today_stats.planned or 100}};
		for(var idx in res.awards) {
			$wl.append($last_icon=$(res.awards[idx].icon));
		}
		if(res.next_award) {
			$("#gegen-zeit .month-trophy").html(res.next_award.icon);
			pct_tgt = res.next_award.anchor;
		}
		
		if(res.new_award) {
			$last_icon.addClass("gt-beat");
		}
		
		if(pct_tgt < 100) pct_tgt=100;
		
		pct = pct * 100 / pct_tgt;
		
		var ex_pct = {{expected_pct}} * 100 / pct_tgt;
		var curr_pct = (((res.monthPoints - res.wonPoints) * 100.0)/{{view.today_stats.planned or 100}}) * 100 / pct_tgt;
		
		$("#won-icon").addClass("gt-beat");
		$({ countNum: 0,
			pct_me: curr_pct }).animate({
		    countNum: res.wonPoints,
		    pct_me: (pct < 100 ? pct : 100)
		  },
		  {
		    duration: 3000,
		    easing:'linear',
		    step: function() {
		    	$wp.text(Math.floor(this.countNum));
		    	$mp.css({width: this.pct_me+"%"});
		    	$tp.css({width: (ex_pct < this.pct_me ? 0 : ex_pct - this.pct_me)+"%"});
		    },
		    complete: function() {
		      $wp.text(res.wonPoints);
		      $("#won-icon").removeClass("gt-beat");
		    }

		  });
		$("#dlg-win-screen").modal('show');
		sndsuccess.play()
	}
	$(function(){
		$(".gt-action-rewardable").click(function(evt){
			evt.preventDefault();//Do not follow the link
			$this = $(this);
			$this.find(".gt-img").removeClass("gt-rewardable"); //Stopping jump animation
			$this.find(".gt-img").addClass("animated tada infinite");
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:"action=reward&gpk="+$this.data("gpk"),
				success: function(res){
					$this.replaceWith($("#tpl-rewarded-icon").html().replace('ICONPACK', $this.data('giconpack')));
					if(isMultiRewardMode()) {
						$("#gt-multi-open-key").addClass("animated");
						playSimpleReward(res,$this.data("gpk"));
					} else {
						location.href="#goal-"+$this.data("gpk");
						playReward(res);
					}
				},
				failure: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		$(".gt-notes-show").click(function(){
			$this = $(this);
			var $dlgbody=$("#dlg-pg-notes .modal-body");
			$dlgbody.html($("#tpl-loading").html());
			$("#dlg-pg-notes .modal-title").html($this.data('title'))
			$("#dlg-pg-notes").modal('show');
			
			$.ajax({
				//headers: {"X-CSRFToken":"{{ csrf_token }}"},
				url:"{{url('api_root')}}/talib/{{view.talib.user.username}}/goal/"+escape($this.data('goalpk'))+"/notes?output=html",
				success: function(res){
					$dlgbody.html(res);
				},
				error: function(res){
					alert('{{_("Error loading notes.")}}');
				}
			})
		})
		
		$(".gt-action-unlockable").click(function(evt){
			evt.preventDefault();//Do not follow the link
			$this = $(this);
			$this.removeClass("gt-shake");
			$this.addClass("gt-shake");
			sndfail.play()
		})
		
		$("#win-dlg-close").on('click', function(){
			location.reload();
		})
		
		$("#dlg-ex-count").on('show.bs.modal',function(ev){
			var baseurl = $(ev.relatedTarget).data('ex-href');
			$("#dlg-ex-count a.exp-s").attr('href',baseurl);
			$("#dlg-ex-count a.exp-m").attr('href',baseurl+'?chain=2');
			$("#dlg-ex-count a.exp-xl").attr('href',baseurl+'?chain=4');
		})
		
		$('#gt-multi-open-key').click(function(){
			if($('body').hasClass("gt-multi-reward-mode")) {
				$(this).removeClass("animated");
				$('body').removeClass("gt-multi-reward-mode");
				if(multiReward.wonPoints > 0) playReward(multiReward);
				return;
			}else{
				$('body').addClass("gt-multi-reward-mode");
				multiReward = {wonPoints: 0};
			}
		})
		
		if(location.hash.startsWith("#reward=")){
			var res = JSON.parse(
					decodeURIComponent(decodeURIComponent(
							location.hash.substring("#reward=".length)
					)).replace(/\+/g,' '));
			location.href="#"; //clear old rewad
			if(res.wonPoints || res.new_award)
				playReward(res)
		}
	})	
</script>

{% endblock %}
{% block content %}
{% macro icon_for_status(goal) %}
	<div class="card-img-top gt-img-box">
	{% if goal.status == 'rewarded' %}
	<img src="{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/open.svg')}}"
		class="gt-img gt-{{goal.status}}" title="{{goal.status}}"/>
	{% elif goal.status == 'rewardable' %}
	<a href="#" class="gt-action-{{goal.status}}" data-pgpk="{{goal.last_plan}}" data-gpk="{{goal.pk}}"
		data-giconpack="{{goal.icon_pack}}"><img src="{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/closed-openable.svg')}}"
		class="gt-img gt-{{goal.status}}" style="cursor: url('{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/tool.png')}}'),auto" title="{{goal.status}}"/>
	</a>
	{% elif goal.status == 'unlockable' %}
	<a href="#" class="gt-action-{{goal.status}}" data-pgpk="{{goal.last_plan}}" data-gpk="{{goal.pk}}"
		data-giconpack="{{goal.icon_pack}}"><img src="{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/closed.svg')}}"
		class="gt-img gt-{{goal.status}}" style="cursor: url('{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/tool.png')}}'),auto" title="{{goal.status}}"/>
	</a>
	{% elif goal.status == 'locked' %}
	<img src="{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/disabled.svg')}}"
		class="gt-img gt-{{goal.status}}" title="{{goal.status}}"/>
	{% elif goal.status == 'sealed' %}
		<img src="{{static('hifztrack/img/goal-iconpacks/'+goal.icon_pack+'/sealed.svg')}}"
			class="gt-img gt-{{goal.status}}" title="{{goal.status}}"/>
	{% endif %}
	</div>
{% endmacro %}

<div id="templates" style="display:none">
	<div id="tpl-rewarded-icon">
		<img src="{{static('hifztrack/img/goal-iconpacks/ICONPACK/open.svg')}}"
			class="gt-img gt-rewarded" title="rewarded"/>
	</div>
	<div id="tpl-win-score">
		<div class="gt-win-score-box">
			+<span class="won-points">Some points</span>
		</div>
	</div>
</div>

<div class="container">
	{% if (view.all_user_halkas|length > 1) %}
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-tabs">
			  {% for h in view.all_user_halkas %}
			  <li class="nav-item">
			  	{% if h == view.halka %}
			    <a class="nav-link active" href="#">{{h.name}}</a>
			    {% elif view.cheikh_mode %}
			    <a class="nav-link" href="{{url('cheikh_dashboard',kwargs={'pk':h.pk, 'talib': view.talib.user.username})}}">{{h.name}}</a>
                {% else %}
			    <a class="nav-link" href="{{url('dashboard',kwargs={'pk':h.pk})}}">{{h.name}}</a>
			    {% endif %}
			  </li>
			  {% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-12">
		<h1>{{ view.halka.name }}
		{% if view.isadmin %}
		- {{ view.talib.get_full_name() }} &nbsp;
		{% endif %}
		<a href="{{url('progress',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" class="btn btn-primary" title="{{_('Open Progress Checklist')}}"><i class="fas fa-clipboard-list"></i></a>
		<a href="{{url('curr_month_overview',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" class="btn btn-primary" title="{{_('Open Overview')}}"><i class="far fa-calendar-alt"></i></a>
		{% if view.talib.allow_self_review %}
		<a href="{{url('selfreview',kwargs={'pk':view.halka.pk})}}" class="btn btn-primary" title="{{_('Start a review')}}"><i class="fas fa-microphone"></i></a>
		{% endif %}
		</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button id="gt-multi-open-key" class="btn btn-primary round-btn pulse infinite"><img alt="{{_('Click to open multiple rewards at once')}}" src="{{static('hifztrack/img/dashboard/key.png')}}"/></button>
			  
			<div class="container-fluid goal-box">
			  <div class="row">
			  {% for goal in view.goals %}
			    
			  	<div id="goal-{{goal.pk}}" 
			  	  {% if view.talib.show_dashboard_month_stats %}
			  	  class="{{ loop.cycle('col-md-12','col-md-12' if loop.last else 'col-md-6','col-md-6')}}"
			  	  {% else %} 
			  	  class="{{ loop.cycle(*(['offset-md-2 col-md-3']+6*['col-md-3']))}}"
			  	  {% endif %} >
			  		<div class="card text-center border-0">
			  			{{ icon_for_status(goal) }}
			  			{% if goal in view.won_awards_per_goal %}
			  			    <div class="award-collection">
			  			        {{ view.won_awards_per_goal[goal].definition.icon_html |safe }}
			  			    </div>
			  			{% endif %}
			  			<div class="card-body">
			  				<h4 class="card-title">{{ goal.name|qrefs2html }}&nbsp
			  					<a title="{{_('Show review log')}}" href="#" data-title="{{goal.name|qrefs2str}}" data-goalpk="{{goal.pk}}" class="db-show-notes gt-notes-show"><i class="fas fa-clipboard-list"></i></a>
			  				</h4>
			  				<p class="card-text"/>
			  					{{ goal.description }}
			  				</p>
			  			</div>
			  		</div>
			  	</div>
			  {% endfor %}
			  </div>
			</div>
		</div>
		{% if view.talib.show_dashboard_month_stats %}
		<div class="col-4">
			<div class="card highlight-card">
			    <h3 class="card-title text-center">{{view.month_label}}</h3>
	  			<div class="card-body">
	  				<p id="gt-score-box">
	  				     <h1 class="text-center" title="Planned {{view.today_stats['planned']|int or 0}}"><img class="gt-inline-icon" src="{{static('hifztrack/img/ayah.svg')}}"/>&nbsp;<span id="month-points">{{view.today_stats['acquired'] or 0}}</span></h3>
                         <h5 class="text-center"> Total: <span id="total-points">{{view.talib.total_points}}</span></h4>
	  				</p>
	  				<p class="award-collection">
	  				{% for lvl in view.talib.get_won_awards() %}
	  					{{ lvl.definition.icon_html|safe }}
	  				{% endfor %}
	  				</p>
	  			</div>
	  		</div>
	  		<div class="card highlight-card">
	  			<h3 class="card-title text-center">{{_("Exercises")}}</h3>
	  			{% set exlist = view.goals|map(attribute='last_note')|selectattr('ex_can_exercise')|list()%}
	  				{% if exlist|length == 0 %} 
	  			<div class="card-body">
	  					{{_("You have no exercies")}}
	  			</div>
	  				{% else %}
	  			<div class="card-body text-center">
		  				{% for ex in exlist -%}
		  				{{ex_status(ex)}}
		  				{%- endfor %}
	  			</div>
	  				{% endif %}
	  		</div>
			<div class="card highlight-card">
	  			<h3 class="card-title text-center">{{_("Your progress")}}</h3>
                <div class="card-body">
	  				{{ view.today_chart().as_html()|safe }}
				</div>
			</div>
			<div class="card highlight-card bg-white">
	  			<div class="card-body">
	  			<!-- FIXME: May be replace this by a month by month -->
	  				{{ view.hist_chart().as_html()|safe }}
				</div>
			</div>
		</div>
		{% endif %}{#-- show_dashboard_month_stats #}
        
	</div>
</div>

<div class="modal fade" id="dlg-win-screen" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("You work, you reach !")}}</h5>
      </div>
      <div class="modal-body">
      	<h2 class="text-center">{{view.month_label}}</h2>
      	<p class="gt-score"> <img class="gt-inline-icon" id="won-icon" src="{{static('hifztrack/img/ayah.svg')}}"/>x<span id="won-points">XX</span></p>
      	<p id="won-awards" class="award-collection"></p>
      	<div id="gegen-zeit" class="container-fluid">
			{% for cuser in view.challengers %}
				{% if cuser.pk == view.talib.pk %}
					<div class="row">
						<div class="col">
							<div class="progress prg-me">
								<div id="prg-me" class="progress-bar bg-success" role="progressbar" style="width: {{curr_pct}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-icon-container">
									<div class="progress-icon bg-success"><i class="fas fa-user-circle"></i> <span> {{view.talib.get_full_name()}} </span> </div>
								</div>
								<div id="prg-time" class="progress-bar bg-warning" role="progressbar" style="width: {{ day_pct }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						<div class="col-md-1 month-trophy">

						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col">
							<div class="progress">
								<div class="progress-bar bg-warning" role="progressbar" style="width: {{pct(cuser.curr_points or 0, 0)}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-icon-container">
									<div class="progress-icon bg-warning"><span>{{cuser.user__username}}</span></div>
								</div>
							</div>
						</div>
						<div class="col-md-1">

						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
      </div>
      <div class="modal-footer">
        <button id="win-dlg-close" type="button" class="btn btn-primary">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dlg-pg-notes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Notes")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dlg-ex-count" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("How many exercises you want to make ?")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      	<div class="row align-text-bottom">
        	<div class="col-4">
        		<a class="exp-s btn btn-info"><i class="fas fa-gift fa-2x"></i></a>
        	</div>
        	<div class="col-4">
        		<a class="exp-m btn btn-info"><i class="fas fa-gift fa-4x"></i></a>
        	</div>
        	<div class="col-4">
        		<a class="exp-xl btn btn-info"><i class="fas fa-gift fa-6x"></i></a>
        	</div>
        	
        </div>
        <div class="row">
        	<div class="col-4">
        		Small
        	</div>
        	<div class="col-4">
        		Medium	
			</div>
        	<div class="col-4">
        		Large
        	</div>
        	
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>


<audio id="sndfail" src="{{static('hifztrack/audio/fail.mp3')}}" preload="auto" autostart="false" ></audio>
<audio id="sndsuccess" src="{{static('hifztrack/audio/success.mp3')}}" preload="auto" autostart="false" ></audio>
   
{% endblock %}