{% extends "base.html" %}
{% block container_css_class %}container-fluid{% endblock %}
{% block head %}
<script>


$(function(){
	var $exaya =$(".ex-aya");
	$exaya.each(function(index){
		var $t = $(this);

		if($t.is('.ex-context')) {
			$t.html($t.html().trim()+'﴿'+$t.data('index')+'﴾');
			return;
		}
		var prefix;
		if(index == 0) prefix=2;
		else if(index == ($exaya.length-1)) prefix=-1;
		else prefix = 0;
		
		$t.html(makeRevealerHtml($t.html().trim(),prefix)+'﴿'+$t.data('index')+'﴾');
	});
	
	var $playlist=$(".ex-aya");
	var plidx=0;
	function playNext(){
		stop();
		var $a;
		if(plidx >= 0) {
			$a = $playlist.get(plidx);
			if($a) $($a).find(".revealer").removeClass("revealed");
		}
		plidx++;
		$a = $playlist.get(plidx);
		if(!$a) return false;
		$a=$($a);
		$a.find(".revealer").addClass("revealed");
		$($a.data("audio-elem"))[0].play();
		return true;
	}
	
	function stop() {
		$(".ex-audio-control").removeClass("playing");
		$("audio.aya-audio").each(function(){
			this.pause();
			this.currentTime=0;
		});
	}
	
	$(document).delegate(".ex-audio-control:not(.playing)","click", function(){
		plidx=-1;
		playNext();
	})
	
	$(document).delegate(".ex-audio-control.playing","click", function(){
		stop();
	})
	
	$(document).delegate(".ex-aya","click", function(){
		if(!$(".ex-audio-control").is(".playing")) return;
		plidx=$playlist.index($(this))-1;
		playNext();
	});
	
	$("audio.aya-audio").on("play",function(){
		$(".ex-audio-control").addClass("playing");
	});
	$("audio.aya-audio").on("ended",function(){
		if($(".ex-audio-control").is(".playing")) {
			if(playNext())
				return;
		}
		$(".ex-audio-control").removeClass("playing");
	});
	
	//Recorder
	
	var stream;
	navigator.mediaDevices.getUserMedia({ audio: true })
	  .then(function(mediaStream) {
		stream = mediaStream;
	  });
	
	var mediaRecorder;
	var replayAudio;
	
	function moveToRecState(state) {
		$(".exa-recorder").find(".for-default,.for-recording,.for-replaying").hide();
		$(".exa-recorder .for-"+state).show();
		$(".exa-recorder").removeClass("recording replaying default").addClass(state);
	}
	moveToRecState("default");
	
	$(document).delegate(".exa-recorder.recording", "click",function(){
		if(mediaRecorder) mediaRecorder.stop();
    });
	

	$(document).delegate(".exa-recorder.replaying", "click",function(){
		if(replayAudio) replayAudio.pause();
    });
	
	$(document).delegate(".exa-recorder.default", "click",function() {
		if(!stream) {
			alert("{{_('Could not initialize audio. Please reload the page')}}");
			return;
		}
		
		moveToRecState("recording");
		
		//Do not start recording if user already clicked out.
		if(!$(".exa-recorder").hasClass("recording")) return;
		mediaRecorder = new MediaRecorder(stream);
	    mediaRecorder.start();
	    
    
	    const audioChunks = [];
	    mediaRecorder.addEventListener("dataavailable", event => {
	      audioChunks.push(event.data);
	    });

	    mediaRecorder.addEventListener("stop", () => {
	      const audioBlob = new Blob(audioChunks);
	      const audioUrl = URL.createObjectURL(audioBlob);
	      replayAudio = new Audio(audioUrl);

		  moveToRecState("replaying");
    	  
		  var onAudioEnd = function(){
    		  moveToRecState("default");
        	  $(".revealed-for-audio").removeClass("revealed");
	      };
		  replayAudio.addEventListener("ended", onAudioEnd);
		  replayAudio.addEventListener("pause", onAudioEnd);
		  
    	  $(".revealer:not(.revealed)").addClass("revealed revealed-for-audio");
	      
	      //Replay after one second
	      setTimeout(function(){
	    	  replayAudio.play();
	      }, 1000);
	  });
	});

})
</script>
{% endblock %}
{% block content %}
<table class="ex-body bg-hifzo">
	<tr class="ex-progress-row" >
		<td colspan="2" class="ex-progress pl-5">
			<div class="progress">
				<div id="ex-pbar" class="progress-bar bg-warning" role="progressbar" style="width: {{ view.getprogress() }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<a class="ex-close" href="{{view.get_end_url()}}" class="close">
	          <span aria-hidden="true">&times;</span>
	        </a>
		</td>
	</tr>
	<tr class="ex-title-row">
		<td colspan="2" class="ex-title">
			{{ view.sura.name }}
		</td>
	</tr>
	<tr class="ex-question-row">
		<td colspan="2" class="ex-question px-md-5">
			<div class="row">
				<div class="col-md-3 text-center">
					<a class="exa-recorder btn btn-primary">
						<span class="exar-msg for-default">{{_("Click to start recording")}}</span>
						<span class="exar-msg for-recording">{{_("Recording ...")}}</span>
						<span class="exar-msg for-replaying">{{_("Replaying, listen and check")}}</span>
						<i class="exar-icon for-default for-recording fas fa-microphone"></i>
						<i class="exar-icon for-replaying fas fa-stop"></i>
					</a>
				</div>
				<div class="col-md-9">
					<div dir="rtl" class="ex-question-body">
						<a class="ex-audio-control" href="#">
							<i class="exa-play fas fa-play"></i>
							<i class="exa-stop fas fa-stop"></i>
						</a>
						<a class="exa-open-aya" href="{{view.ayas[0].get_url()}}" target="_blank">
							<i class="fas fa-link"></i>
						</a>
						{% if view.prev %}
							<audio class="aya-audio" id="aya-prev" preload="none" src="{{view.prev.get_audio_url()}}"></audio>
							<span class="ex-aya ex-context" data-audio-elem="#aya-prev" data-index="{{view.prev.index}}">{{view.prev.text}}</span>
						{% endif %}
						{% for aya in view.ayas %}
							<audio class="aya-audio" id="aya-{{loop.index}}" preload="none" src="{{aya.get_audio_url()}}"></audio>
							<span class="ex-aya" data-audio-elem="#aya-{{loop.index}}" data-index="{{aya.index}}">{{aya.text}}</span>
						{% endfor %}
						{% if view.next %}
							<audio class="aya-audio" id="aya-next" preload="none" src="{{view.next.get_audio_url()}}"></audio>
							<span class="ex-aya ex-context" data-audio-elem="#aya-next" data-index="{{view.next.index}}">{{view.next.text}}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr class="ex-footer-row">
		<td class="text-center">
			<button class="ex-btn btn btn-primary" data-toggle="modal" data-target="#dlg-eval">{{_("Done")}}</button>
		</td>
		<td class="text-center">
			<form method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				<input type="hidden" name="stepnum" value="{{view.ex.ex_step}}" />
				<button type="submit" class="ex-btn btn btn-secondary">{{_("Skip")}}</button>
			</form>
		</td>
	</tr>
</table>
<div class="modal fade px-md-5" id="dlg-eval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Evaluate yourself !")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      		<p>
        		{{_("How was your exercise ?")}}
        	</p>
        	<div class="row text-center">
        		<div class="col-md-4 text-center">
        			<button class="ex-btn btn btn-success collapse show min-collapse med-collapse" data-toggle="collapse" data-target=".ok-collapse" title="{{_("Fast and correct")}}"><i class="fas fa-smile"></i></button>
				</div>
				<div class="col-md-4">
        			<button class="ex-btn btn btn-info collapse show ok-collapse min-collapse" data-toggle="collapse" data-target=".med-collapse" title="{{_("Correct but needed to think")}}"><i class="fas fa-sun"></i></button>
				</div>
				<div class="col-md-4">
					<button class="ex-btn btn btn-danger collapse show ok-collapse med-collapse" data-toggle="collapse" data-target=".min-collapse" title="{{_("Made some mistakes")}}"><i class="fas fa-band-aid"></i></button>
				</div>
        	</div>
        	<div class="row">
				<div class="col-md-12 med-collapse min-collapse collapse show">
				<div dir="rtl" class="collapse ok-collapse ex-quote">
					<span class="citation">تعاهدوا القرآن فو الذي نفس محمد بيده لهو أشد تفلتا من الإبل في عقلها</span>
				</div>
				</div>	
				<div class="col-md-12 ok-collapse min-collapse collapse show">
				<div dir="rtl" class="collapse med-collapse ex-quote">
					 <span class="badge badge-pill badge-danger">x2</span><span class="citation">خَيْرُكُمْ مَنْ تَعَلَّمَ الْقُرْآنَ وَعَلَّمَهُ</span>
				</div>
				</div>
				<div class="col-md-12 ok-collapse med-collapse collapse show">
				<div dir="rtl" class="collapse min-collapse ex-quote">
					<span class="badge badge-pill badge-danger">x2</span><span class="citation">الذي يقرأ القرآن ويتتعتع فيه وهو عليه شاق له أجران</span>
				</div>
				</div>
				<form method="POST" class="col-md-12 ok-collapse collapse text-right">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<input type="hidden" name="stepnum" value="{{view.ex.ex_step}}" />
					<input type="hidden" name="grade" value="5" />
					<button type="submit" class="btn btn-primary">{{_("Continue")}}</button>
				</form>
				<form method="POST" class="col-md-12 med-collapse collapse text-right">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<input type="hidden" name="stepnum" value="{{view.ex.ex_step}}" />
					<input type="hidden" name="grade" value="3" />
					<button type="submit" class="btn btn-primary">{{_("Continue")}}</button>
				</form>
				<form method="POST" class="col-md-12 min-collapse collapse text-right">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<input type="hidden" name="stepnum" value="{{view.ex.ex_step}}" />
					<input type="hidden" name="grade" value="2" />
					<button type="submit" class="btn btn-primary">{{_("Continue")}}</button>
				</form>
			</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}