{% extends "base.html" %}
{% block container_css_class %}container-fluid{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/jquery.dropdown.min.css')}}">
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<script type="text/javascript" src="{{ static("hifztrack/js/Chart.bundle.min.js") }}"></script>
<script type="text/javascript" src="{{ static("hifztrack/js/jquery.dropdown.min.js") }}"></script>
<script type="text/javascript">
///////////////// Managing backbutton on dialogs
$(function(){
		if(location.hash=="#hifzo-dialog-open") location.hash="#"
		var $lastdlg;
		var lasthash;
		$("body").delegate(".modal", "show.bs.modal",function(ev){
			var _this = this;
			setTimeout(function() {
				lasthash=location.hash;
				location.hash="#hifzo-dialog-open";
				$lastdlg = $(_this);
			},0); //Do it after eventual href of link
			
		});
		$("body").delegate(".modal","hide.bs.modal", function(ev){
			$lastdlg=undefined; //Order is important : when onhashchange is triggered $lastdlg must be already undefined.
			if(lasthash != undefined) {
				location.hash=lasthash;
				lasthash=undefined;
			}
		});
		window.addEventListener("hashchange", function(event){
			if($lastdlg == undefined) return;
			var hidx=event.oldURL.lastIndexOf("#");
			if(hidx < 0) return;
			if(event.oldURL.substr(hidx) != "#hifzo-dialog-open") return;
			$lastdlg.modal('hide');
		});
});
</script>

<script type="text/javascript">
	//KEEP THIS IN SYNC WITH THE CSS !
	var isMobileMQ = matchMedia("only screen and (max-width: 500px)");
	
	$(function(){
		function refreshStats() {
			var cumul=0;
			$(".gt-day-total").each(function(){
				var $t=$(this);
				var sum = 0;
				$("td[data-day='"+$t.data('day')+"'] .gt-acheived")
					.parents("tr").each(function(){
						sum += $(this).data('goalpoints')
					});
					
                var sumplan = 0;
				$("td[data-day='"+$t.data('day')+"'] .gt-icon")
                    .parents("tr").each(function(){
                        sumplan += $(this).data('goalpoints')
                    });
                    
				if(sumplan != 0) 
				    $t.attr('title','{{_("Planned :")}} '+sumplan);
				
				if(sum == 0) $t.html("&nbsp;")
                else $t.html(sum);
				cumul+=sum;
			});
			$("#gt-month-total").html(cumul);
		}
		refreshStats();
		/**
		 * doAnAjaxUpdate does an ajax update.
		 the $trigger element will be replaced by a progress icon
		 the data will be submited in post body after replacing any
		 occurence of [goalpk] / [day] by info inferred from tirgger.

		 onSuccess callback, if set, is called with the response.
		 */
		function doAjaxUpdate($trigger, data, onSuccess) {
		    $trigger.html($("#tpl-updating").html());
		    data = data
		          .replace('[goalpk]',$trigger.parents('[data-goalpk]').data('goalpk'))
		          .replace('[day]',$trigger.parents('[data-day]').data('day'));

            $.ajax({
                method:"POST",
                headers: {"X-CSRFToken":"{{ csrf_token }}"},
                data:data,
                success: function(res){
                    $trigger.html(
                            $("#tpl-stt-"+res.status).html());
                    refreshRating(res);
                    refreshStats();
                    if(onSuccess) onSuccess(res);
                },
                error: function(res){
                    alert('{{_("Error updating, refreshing the page.")}}');
                    location.reload();
                }
            })
		}
		$("body").delegate("a.gt-ajax-update","click",function(evt){
			evt.preventDefault();//Do not follow the link
			var $this = $(this);

			var data = $this.data("post");
			//Special processing for items of gt updater dropdown
			var $trigger = $(this).parents(".jq-dropdown").data("jq-dropdown-trigger");

			doAjaxUpdate($trigger, data);


		});

		$("#add-goal").click(function(){
			var name = $("#ng-name").val();
			var points = $("#ng-points").val();
			var desc = $("#ng-desc").val();
			var pos = $("#ng-pos").val();
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=add-goal&name="+encodeURI(name)
						+"&description="+encodeURI(desc)
						+"&points="+points
						+"&position="+pos),
				success: function(res){
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		$("#edit-goals").click(function(){
            var goals = $("#eg-list").val();
            
            $.ajax({
                method:"POST",
                headers: {"X-CSRFToken":"{{ csrf_token }}"},
                data:("action=edit-goals&goals="+encodeURI(goals)),
                success: function(res){
                    $("#dlg-edit-many-goals").modal("hide");
                    if(res.todelete.length)
                        $("#dlg-stop-tracking").data('reload-on-hide',true).modal("show",res);
                    else
                        location.reload();
                },
                error: function(res){
                    alert('{{_("Error updating, refreshing the page.")}}');
                    location.reload();
                }
            })
        });
        
		$("#update-goal").click(function(){
			var name = $("#ng-name").val();
			var points = $("#ng-points").val();
			var desc = $("#ng-desc").val();
			var goalpk = $(this).data("goalpk");
			var pos = $("#ng-pos").val();
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=update-goal&goalpk="+goalpk
						+"&name="+encodeURI(name)
						+"&description="+encodeURI(desc)
						+"&points="+points
						+"&position="+pos),
				success: function(res){
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		$("#dlg-stop-tracking").on("hide.bs.modal", function(ev){
		  if($(this).data('reload-on-hide')) {
		      location.reload();
		      return false;
		  }
		});
		
		$("#dlg-stop-tracking").on("show.bs.modal", function(ev){
			var $modal = $(this);
			$modal.find("#goal-list-todelete option").prop('selected',false);
            
            var $b = $(ev.relatedTarget);
            var pk = $b.data("goalpk");
			if(pk === undefined) {
			     if('todelete' in ev.relatedTarget) pk = ev.relatedTarget['todelete'];
			     else return;
			}else if(typeof(pk) == "string") {
			   pk = pk.split(',');
			} else {
			 pk = [pk];
			}
			var o = undefined;
			pk.reverse().forEach((k) => {
    			o = $modal.find("#goal-list-todelete option[value="+k+"]")
    			o.prop('selected',true);
    		})
    		
			if(o) setTimeout(() => o[0].scrollIntoViewIfNeeded(), 500);
		})
		
		$("#confirm-end-goal").click(function(){
			var goals = $("#goal-list-todelete").val();
			if(goals === undefined) {
			     alert("{{_('Please select goals to stop tracking')}}");
			     return;
			}
			if(! confirm("{{_('Stop tracking the [NUMBER] goal(s) you selected ?')}}".replace(/\[NUMBER\]/g,goals.length))) {
			     return;
			}
			
			var stopmode=$("#dlg-stop-tracking input[name='end-goal-mode']:checked").val();
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=end-goals&goalspk="+goals.join(',')+"&mode="+stopmode),
				success: function(res){
					//Fixme convert this to a bootstrap alert after reload
					location.href="#alert="+encodeURIComponent("{{_('Goal tracking stopped, it might be still visible on talib dashboard until tomorrow. <br/> You can edit the goal again to resume tracking.')|safe}}");
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})	
		})
		

		$("#resume-goal").click(function(){
			var goalpk = $(this).data("goalpk");
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=resume-goal&goalpk="+goalpk),
				success: function(res){
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		$("#dlg-set-goal").on("show.bs.modal", function(ev){
			var $b = $(ev.relatedTarget);
			var $modal = $(this);
		
			if($b.is(".pgn-edit-goal")) 
				$b = $(".gt-goal-label[data-goalpk="+$("#dlg-pg-notes").data("goalpk")+"]")
			$modal.find(".for-update-goal").data("goalpk",$b.data('goalpk')).data("goalname",$b.data('goalname'));
			if($b.data('goalend')) {
				$modal.find(".when-ended").show();
				$modal.find(".when-not-ended").hide();
			}else{
				$modal.find(".when-ended").hide();
				$modal.find(".when-not-ended").show();
			}
			$("#ng-name").val($b.data("goalname"));
			$("#ng-desc").val($b.data("goaldesc"));
			$("#ng-points").val($b.data("points"));
			$("#ng-pos").val("auto");
			$modal.find(".modal-title").html($b.data("title"));
		});
		
		$("#add-bonus").click(function(){
			var points = prompt('{{_("How many points ?")}}');
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=add-bonus&points="+points),
				success: function(res){
					alert(points+'{{_(" XP bonus added.")}}');
				},
				error: function(res){
					alert('{{_("Error adding bonus.")}}');
				}
			})
		});
		
		$("#add-many-goals").click(function(){
			var goals = $("#ng-goal-list").val();
			var points = $("#ng-all-points").val();
			var pos = $("#ng-pos-many").val();
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=add-many-goals&goals="+encodeURI(goals)+
				                "&points="+points+
				                "&pos="+pos),
				success: function(res){
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		function reloadNotes() {
			var $dlgbody=$("#dlg-pg-notes .modal-body .gt-note-list");
			$dlgbody.html($("#tpl-loading").html());
			$.ajax({
				url:"{{url('api_root')}}/talib/{{view.talib.user.username}}/goal/"+encodeURIComponent($("#dlg-pg-notes").data('goalpk'))+"/notes?output=html",
				success: function(res){
					$dlgbody.html(res);
				},
				error: function(res){
					$dlgbody.html('{{_("Error loading review notes.")}}');
				}
			})
			
			var $ayasel=$("#pgn-ayaref-sel");
			if($ayasel.length > 0) { //No need to load aya selector for non admin ...
				$ayasel.html($("#tpl-loading").html());
				$.ajax({
					method:"POST",
					headers: {"X-CSRFToken":"{{ csrf_token }}"},
					data: "action=ayaselector&goalpk="+$("#dlg-pg-notes").data('goalpk'),
					success: function(res){
						$ayasel.html(res);
					},
					error: function(res){
						$ayasel.html('{{_("Error loading aya selector.")}}');
					}
				})
			}
		}
		
		$("#pgn-add, #pgn-add-continue").click( function(){
			var $this = $(this);
			$this.addClass("gt-updating");
			var note = ayasel2refs($("#pgn-ayaref-sel"))+" "+$("#pgn-note").val();
			var day = $("#dlg-pg-notes").data('day');
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data: "action=add-note&goalpk="+$("#dlg-pg-notes").data('goalpk')+"&day="+day+"&content="+encodeURIComponent(note)+"&cheikhonly="+$("#pgn-keep-priv").prop('checked')+"&"+$("#pg-upd-status input:checked").data('value'),
				success: function(res){
					refreshRating(res);
					$("#pgn-note").val("");
					$("#pgn-keep-priv").prop('checked',false);
					$("#pgn-nogoal").button('toggle');
					var $tr=$("tr[data-goalpk="+$("#dlg-pg-notes").data('goalpk')+"]");
					if(res.status) {
						$tr.find("td[data-day="+day+"] a.gt-updater-menu-trigger").html(
							$("#tpl-stt-"+res.status).html()
						);
					}
					if($this.is("#pgn-add-continue")){
						showNotesDialog($("td[data-day="+day+"] a.gt-updater-menu-trigger[data-goalpk="+$tr.data("nextgoalpk")+"]"));					
					}else{
						$("#dlg-pg-notes").modal('hide');
					}
				},
				error: function(jqXHR){
					if(jqXHR.responseJSON) 
						alert(jqXHR.responseJSON.error);
					else {
						alert('{{_("Error updating, refreshing the page.")}}');
						location.reload();
					}
				}
			})
		});
		$("#pgn-back").click(function(){
			var $tr=$("tr[data-nextgoalpk="+$("#dlg-pg-notes").data('goalpk')+"]");
			if($tr.size() != 0)
				showNotesDialog($("td[data-day="+$("#dlg-pg-notes").data('day')+"] a.gt-updater-menu-trigger[data-goalpk="+$tr.data("goalpk")+"]"));
		});
		
		$(".gt-goal-label").click(function(){
			showNotesDialog($(this).parents("tr").find(".gt-today .gt-updater-menu-trigger"));
		});
		
		function showNotesDialog($this){
			$("#dlg-pg-notes .modal-title span.pgn-goal-label").html($this.data('title'));
			$("#dlg-pg-notes").data({
				day: $this.parents("td").data("day"),
				goalpk: $this.data("goalpk")
			});
			$("#pgn-add-continue").toggle(Boolean($this.parents("tr").data("nextgoalpk")));
			$("#pgn-back").toggle(Boolean($("tr[data-nextgoalpk="+$("#dlg-pg-notes").data('goalpk')+"]").size()));
			$("#dlg-pg-notes").modal('show');
			reloadNotes();
		}
		
		var longPressTimeout;
		$("a.gt-updater-menu-trigger").mousedown(function(){
			if(longPressTimeout) clearTimeout(longPressTimeout);
			longPressTimeout = setTimeout(()=>{
				longPressTimeout = undefined;
				showNotesDialog($(this))
			}, 500);
		}).mouseup(function(){
			if(longPressTimeout) clearTimeout(longPressTimeout);
		}).dblclick(function(){
		        $(this).jqDropdown('hide');
		        var day = $(this).parents("td").data("day");
                var goalpk = $(this).data("goalpk");
                if($(this).find('.gt-acheived')[0]) {
                    //If acheived already, unplan it
                    doAjaxUpdate($(this), 
                        'action=set-unplanned&goalpk=[goalpk]&day=[day]');
                }
                else if($(this).find('.gt-quality-0')[0]) {
                    //Simple planned goal, mark done with q=5
                    doAjaxUpdate($(this), 
                        'action=mark-done&goalpk=[goalpk]&day=[day]&quality=5');
                }else if($(this).find('.gt-quality')[0]) {
                    //planned goal with quality score, validate it
                    doAjaxUpdate($(this), 
                        'action=mark-done&goalpk=[goalpk]&day=[day]');
                }else {
                    //Unplanned
                    doAjaxUpdate($(this), 
                        'action=set-planned&goalpk=[goalpk]&day=[day]');
                }  
		}).click(function(){
			//Show on mobile
			if(isMobileMQ.matches) showNotesDialog($(this));
		});
		
		//Drag and drop goals ...
		var $currDrag;
		$(".goal-table").delegate(".gt-icon", "dragstart", function(ev) {
		  if(longPressTimeout) clearTimeout(longPressTimeout);
		  $currDrag = $(this);
		}).delegate(".gt-icon", "dragend", function(ev) {
		  $currDrag = undefined;
        })
        .delegate("*", "dragover", function(ev) {
		  ev.preventDefault();
		})
		.delegate("td.goal-active", "drop", function(ev) {
		  var $src = $currDrag.parent("a.gt-updater-menu-trigger");
		  var $tgt = $(this).find("a.gt-updater-menu-trigger");
		  if(!$tgt[0] || $tgt.find('.gt-quality')[0]) 
		      return;
          
          //mark target planned
          $src.html($("#tpl-updating").html());
          doAjaxUpdate($tgt, 'action=set-planned&goalpk=[goalpk]&day=[day]',
            () => {
                //Then remove source
                doAjaxUpdate($src, 'action=set-unplanned&goalpk=[goalpk]&day=[day]');
            });
          
        });
		
		
		$(".gt-notes-show-dropdown").click(function(){
			var $trigger = $(this).parents(".jq-dropdown").data("jq-dropdown-trigger");
			showNotesDialog($trigger);
		})
		
		$("#dlg-all-notes").on("show.bs.modal", function(ev){
			var $dlgbody=$("#dlg-all-notes .modal-body");
			$dlgbody.html($("#tpl-loading").html());
			$.ajax({
				url:"{{url('api_root')}}/halka/{{view.halka.pk}}/talib/{{view.talib.user.username}}/notes?output=html&count=20",
				success: function(res){
					$dlgbody.html(res);
				},
				error: function(res){
					$dlgbody.html("{{_('Error loading notes.')}}");
				}
			})
		});
		
        

		$("#pr-tgt-upd").click(function(){
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=update-target&newval="+$("#pr-tgt-val").val()),
				success: function(res){
					location.href="#progress";
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		$("#pr-tgt-upd-dlg").click(function(){
			var newval = prompt('{{_("Set a new target for %(talib)s (Suggested : %(tgt)d XP)") % {"tgt":view.progress_chart.suggested_tgt,"talib":view.talib.get_full_name()} }}',{{view.talib.points_month_tgt}}); 
			if(newval == undefined) return;
			newval = parseInt(newval);
			
			if(Number.isNaN(newval) || newval <= 0) {
				alert("Target must be a positive number.");
				return;
			}
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:("action=update-target&newval="+newval),
				success: function(res){
					location.href="#progress";
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating, refreshing the page.")}}');
					location.reload();
				}
			})
		});
		
		$("body").delegate("a.gt-action-use-awc","click",function(evt){
			evt.preventDefault();//Do not follow the link
			$this = $(this);
			var count = prompt('{{_("How many units to use ? max : %(count)d")}}'.replace('%(count)d', $this.data('counter-count')));
			count = parseInt(count);
			if(count===NaN || count > $this.data('counter-count')) {
				alert('{{_("Bad value, must be a number less than : %(count)d")}}'.replace('%(count)d', $this.data('counter-count')));
				return;
			}
			if(!count) return;
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:"action=use-counter&counterid="+$this.data("counter-id")+"&count="+count,
				success: function(res){
					alert('{{_("Counter updated")}}');
					location.reload();
				},
				error: function(res){
					alert('{{_("Error updating counter, refreshing the page.")}}');
					location.reload();
				}
			})
			
		});


		if(location.hash.startsWith("#alert=")) {
			var msg = decodeURIComponent(location.hash.substring("#alert=".length)
					).replace(/\+/g,' ');
			location.href="#"; //clear old rewad
			$("#alert-body").html(msg);
			$("#msg-alert").show();
		}
		
		if(location.hash == ("#progress")) {
			location.href="#";
			$("#dlg-tlb-progress").modal("show");
		}
		
		function scrollToShow($tht) {
			if($tht.length == 0) return;
			var $gt = $(".goal-table");
			$gt.animate({scrollLeft:($tht.position().left-$gt.width()+$tht.width()*1.5+$gt.scrollLeft())},500);
		}
		
		scrollToShow($("th.gt-today"));

		function finshiRevCheck() {
			$(".gt-curr-rev-day").removeClass("gt-curr-rev-day gt-rev-goal");
			$("#hm-audio")[0].pause();
		}
		
		function recTimeAsStr(rt) {
			var min = Math.floor(rt/60);
			var sec = Math.floor(rt - 60*min);
			if (min < 10) min = "0"+min;
			if (sec < 10) sec = "0"+sec;
			return min+":"+sec;
		}
		
		$(document).delegate(".gt-action-rev-check","click",function(ev){
			finshiRevCheck();
			
			$("#hm-audio").attr("src",$(this).data("rev-audiourl"));
			
			var revTime = $(this).data("rev-time")||0;
			
			$("#hm-audio").one("canplay", function(){
				$(this)[0].currentTime = revTime;
			});
			
			var cp = $(this).data("rev-checkpoints").trim();
			console.log("Checkpoints",cp);
			if(!cp) {
				$("#rev-checkpoints").hide();
			}else{
				$("#rev-checkpoints").show();
				$("#rev-checkpoints").html("<option></option>")
				cp.split(',').forEach(function(t){
					$("#rev-checkpoints").append('<option value="'+t+'">'+recTimeAsStr(t)+'</option>');	
				})
			}
			
			var rday=$(this).data("rev-day");
			
			$('td[data-day="'+rday+'"]').addClass('gt-curr-rev-day');
			scrollToShow($(".gt-curr-rev-day"));
			
			String($(this).data("rev-goalpks")).split(',').forEach(function(gpk){
				$('tr[data-goalpk="'+gpk+'"] td.gt-curr-rev-day').addClass('gt-rev-goal');
			})
			
			$("#dlg-self-review").data('rev-pk',$(this).data("rev-pk")).show();
		});
		
		$("#rev-checkpoints").change(function(ev){
			var t = $(this).val();
			if(!t) return;
			$("#hm-audio")[0].currentTime=t;
		})
		
		$("#rev-continue-later").click(function(){
			$("#dlg-self-review").hide();
			var audio = $("#hm-audio")[0];
			var pk = $("#dlg-self-review").data('rev-pk');
			var currTime = Math.floor(audio.currentTime);
			
			$('a[data-rev-pk="'+pk+'"]').data("rev-time", currTime);
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:"action=save-review-check-time&reviewpk="+pk+"&checktimesecs="+currTime
			})
			
			finshiRevCheck();
		});
		
		
		$("#rev-mark-checked").click(function(){
			var pk = $("#dlg-self-review").data('rev-pk');
			$("#dlg-self-review").hide();
			finshiRevCheck();
			
			$.ajax({
				method:"POST",
				headers: {"X-CSRFToken":"{{ csrf_token }}"},
				data:"action=mark-review-checked&reviewpk="+pk,
				success: function(res){
					alert('{{_("Review closed")}}');
					$('a[data-rev-pk="'+pk+'"]').remove();
				},
				error: function(res){
					alert('{{_("Error updating review.")}}');
					
				}
			})
		});
		$("#hm-rew-5").click(function(){
			var audio = $("#hm-audio")[0];
			audio.currentTime=audio.currentTime-5;
		});
		$("#hm-ff-5").click(function(){
			var audio = $("#hm-audio")[0];
			audio.currentTime=audio.currentTime+5;
		});
		
		var RATING_TITLES = { 
				"ok": "{{_('Ok')}}",
				"target": "{{_('Needed to keepup with monthly target')}}",
				"today": "{{_('Needed for today points')}}",
				"inactive": "{{_('Not active')}}"
		};
		
		function refreshRating(ratingjson) {
			if('_rating' in ratingjson) {
				ratingjson['_rating'].forEach(function(v){
					$(".gts-rating[data-goalpk="+v.goal+"]")
						.removeClass("gts-rating-ok gts-rating-target gts-rating-today gts-rating-inactive")
						.addClass("gts-rating-"+v.rating)
						.attr("title", RATING_TITLES[v.rating]);
				});
			}
		}
		refreshRating({{view._rated_response()|safe}});
	});
	
</script>
{% endblock head%}
{% block content %}

{% macro pg_icon_html(iconclass,title=" ", cssclass="gt-icon") -%}
	<span class="{{cssclass}} fa-stack" title="{{title}}">
		<i class="{{iconclass}}"></i>
	</span>
{%- endmacro %}

{% set pg_non_planned %}
	<span class="gt-icon fa-stack" title="{{_('Not planned')}}">
	</span>
{% endset %}

{% macro pg_planned_icon(q, cssclass="gt-icon") -%}
	<span class="{{cssclass}} gt-quality gt-quality-{{q}} fa-stack" title="{{_('Goal acheived with quality %(quality_score)d') % {'quality_score' : q} }}" draggable=true>
      <i class="far fa-circle"></i>
      <strong class="fa-stack-1x">{{q if q > 0 else ''}}</strong>
    </span>
{%- endmacro %}

{% macro quality_icon(q, cssclass="gt-icon") -%}
	<span class="{{cssclass}} gt-acheived gt-quality gt-quality-{{q}} fa-stack" title="{{_('Goal acheived with quality %(quality_score)d') % {'quality_score' : q} }}">
	  <i class="fas fa-circle"></i>
	  <strong class="fa-stack-1x">{{q}}</strong>
	</span>
{%- endmacro %}

{% macro pg_icon(pg) -%}
    {# icon for given a planned goal #}
	{% if pg == None %}
		{{ pg_non_planned }}
	{% elif not pg.acheived %}
	   {% if view.isadmin or pg.quality_score == 0 %}
	   {{ pg_planned_icon(pg.quality_score) }}
	   {% else %}
	   {{ quality_icon(pg.quality_score) }}
	   {% endif %}
	{% else %}
		{{ quality_icon(pg.quality_score) }}
	{% endif %}
{%- endmacro %}

{% macro rowheader(goal) -%}
    {% if view.isadmin %}
    <a href="#something-to-prevent-scroll-top" class="gt-goal-label"  
                    data-goalpk="{{goal.pk}}" data-title="{{_('Update goal: %s') % goal.name|qrefs2str}}"
                    data-goalname="{{goal.name}}"  data-points="{{goal.points_value}}"
                    data-goaldesc="{{ goal.description }}" data-position="{{ goal.position }}"
                    data-goalend="{{goal.end_day.isoformat() if goal.end_day else ''}}"
                    title="{{goal.name|qrefs2str}}">
                    <i class="fas fa-circle gts-rating" data-goalpk="{{goal.pk}}" ></i> {{ goal.name|qrefs2html }}
    </a>
    {% else %}
    <a class="gt-goal-label" data-goalpk="{{goal.pk}}" data-title="{{goal.name|qrefs2str}}"
                    href="" data-goalname="{{goal.name}}" title="{{goal.name|qrefs2str}}">
                    <i class="fas fa-circle gts-rating" data-goalpk="{{goal.pk}}"></i> {{ goal.name|qrefs2html }}</a>
    
    {% endif %}
    <div class="gt-goal-desc">
     {{goal.description|qrefs2str}}
    </div> 
{%- endmacro %}


<div style="display:none" id="templates">
	<div id="tpl-stt-unplanned">
		{{ pg_non_planned }}
	</div>
	<div id="tpl-stt-planned">
		{{ pg_planned_icon(0) }}
	</div>
	{% for q in range(1,6) %}
		<div id="tpl-stt-quality-{{q}}">
			{{ quality_icon(q) }}
		</div>
	{% endfor%}
	<div id="tpl-updating">
		{{ pg_icon_html('fas fa-spinner fa-spin',_('Updating')) }}
	</div>
	<div id="tpl-loading">
   		<div class="text-center"><i class="fas fa-spinner fa-spin fa-3x"></i></div>
	</div>
</div>
{% if (not view.isadmin) and (view.all_user_halkas|length > 1) %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-tabs">
			  {% for h in view.all_user_halkas %}
			  <li class="nav-item">
			  	{% if h == view.halka %}
			    <a class="nav-link active" href="#">{{h.name}}</a>
			    {% else %}
			    <a class="nav-link" href="{{url('curr_month_overview',kwargs={'pk':h.pk, 'talib': view.talib.user})}}">{{h.name}}</a>
			    {% endif %}
			  </li>
			  {% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
<h2>
    <select class="link-select">
        {% for halka in view.talib_halkas %}
            <option {{'selected=selected' if halka == view.halka else ''}} value="{{url('month_overview',kwargs={'pk':halka.pk,'talib':view.talib.user.username, 'year':view.day1.year, 'month':view.day1.month})}}">{{ halka.name }}</option>
        {% endfor %}
        <option value="{{url('cheikh_home')}}?mode=halka">{{_("Other halkas ...")}}</option>
    </select> -
	{% if view.isadmin %} 
	<select class="link-select">
		{% for talib in view.halka.talib_set.all() %}
			<option {{'selected=selected' if talib == view.talib else ''}} value="{{url('month_overview',kwargs={'pk':view.halka.pk,'talib':talib.user.username, 'year':view.day1.year, 'month':view.day1.month})}}">{{ talib.get_full_name() }}</option>
		{% endfor %}
        <option value="{{url('cheikh_home')}}?mode=talib">{{_("Other talibs ...")}}</option>
	</select>
	{% endif %}
	<select class="link-select">
		{% for month in range(1,13) %}
			<option value="{{url('month_overview',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username, 'year':view.day1.year, 'month':month})}}" {{'selected=selected' if month == view.day1.month else ''}}>{{ view.get_month_name(month) }}</option>
		{% endfor %}
	</select>
	<select class="link-select">
		{% for year in range(view.day1.year-2, view.day1.year+3) %}
			<option {{'selected=selected' if year == view.day1.year else ''}} value="{{url('month_overview',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username, 'year':year, 'month':view.day1.month})}}">{{ year }}</option>
		{% endfor %}
	</select>
</h2>
<div id="msg-alert" class="alert alert-success alert-dismissible collapse">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div id="alert-body"> </div>
</div>
<div class="btn-toolbar gt-desktop-only" role="toolbar" aria-label="Toolbar with button groups">
  {% if view.isadmin %}
  <div class="btn-group mr-2 my-2" role="group" aria-label="First group">
  	<button id="add-bonus" type="button" class="btn btn-primary"> <i class="fas fa-trophy"></i> {{_('Add bonus')}}</button>
	<div class="btn-group" role="group">
  	<button id="btn-goal-menu" type="button" class="btn btn-primary dropdown-toggle" 
						data-toggle="dropdown" data-title="{{_('Manage goals')}}"><i class="fas fa-plus"></i> {{_('Goals')}}</button>
  	  <div class="dropdown-menu" aria-labelledby="btn-goal-menu">
	  	<a class="dropdown-item" data-toggle="modal" data-target="#dlg-add-many-goals" data-dismiss="modal" id="add-many" href="#">{{_("New goals")}}</a>
	    <a class="dropdown-item" data-toggle="modal" data-target="#dlg-edit-many-goals" data-dismiss="modal" id="edit-many" href="#">{{_("Edit goals")}}</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#dlg-stop-tracking" data-dismiss="modal" id="stop-many" href="#">{{_("Stop goals")}}</a>
	  </div>
  	</div>	
  	<div class="btn-group" role="group">
  	<button class="btn btn-primary dropdown-toggle" type="button" id="gt-awc-use" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<i class="fas fa-star"></i>{{_('Use awards')}}
  	</button>
	  <div class="dropdown-menu" aria-labelledby="gt-awc-use">
	  	{% for counter in view.talib.user.award_counters.all() %}
	    	<a class="dropdown-item gt-action-use-awc" data-counter-id="{{counter.id}}" data-counter-count="{{counter.count}}" href="#"><span class="awc-icon">{{ counter.award.icon_html | safe }}</span> {{counter.award.name}} ({{counter.count}})</a>
	    {% endfor %}
	  </div>
  </div>
  {% endif %}	
  </div>
  <div class="btn-group mr-2 my-2" role="group" aria-label="Second group">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dlg-tlb-progress"><i class="fas fa-chart-line"></i> {{_('Target')}}
		{% if view.progress_chart.alert %}
			<span class="badge badge-pill badge-danger">!</span>
	 	{% endif %}
	</button> 
	<a class="btn btn-primary" href="#" title="{{_('Show all notes')}}" data-toggle="modal" data-target="#dlg-all-notes"><i class="fas fa-clipboard-list"></i> {{_('Notes')}}</a>
	<button class="btn btn-primary dropdown-toggle" type="button" id="gt-rev-list" 
		{% if view.month_self_reviews|length == 0 %}disabled {% endif %}
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<i class="fas fa-microphone"></i>{{_('Reviews')}}
  	</button>
	  <div class="dropdown-menu" aria-labelledby="gt-rev-list">
	  	{% for rev in view.month_self_reviews %}
	    	<a class="dropdown-item gt-action-rev-check" data-rev-pk="{{rev.pk}}" data-rev-audiourl="{{rev.audio.url}}" data-rev-day="{{rev.day.isoformat()}}" data-rev-goalpks="{{view.review_goalpks_cs(rev)}}" data-rev-checkpoints="{{rev.checkpoint_list if rev.checkpoint_list != None else ''}}" data-rev-time="{{rev.checking_current_time}}" href="#">{{rev.day}}</a>
	    {% endfor %}
	  </div>
  </div>
    
  <div class="btn-group my-2" role="group" aria-label="Third group">
    <a class="btn btn-primary" href="{{url('cheikh_dashboard',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" title="{{_('Open dashboard')}}"><i class="fas fa-book"></i> {{_('Dashboard')}}</a>
	<a href="{{url('progress',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" class="btn btn-primary" title="{{_('Open Progress Checklist')}}"><i class="fas fa-clipboard-list"></i> {{_('Checklist')}}</a>

	{% if user.is_staff %}
		<a class="btn btn-primary" href="/admin/hifztrack/talib/{{view.talib.pk}}/change/" title="{{_('Talib settings')}}" target="_blank"><i class="fas fa-cog"></i> {{_('Talib admin')}}</a>
		<a class="btn btn-primary" href="/admin/hifztrack/halka/{{view.halka.pk}}/change/" title="{{_('Halka settings')}}" target="_blank"><i class="fas fa-cog"></i> {{_('Halka admin')}}</a>
	{% endif %}
	{% if not view.is_current %}
	<a class="btn btn-primary" href="{{url('curr_month_overview',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" title="{{_('Today Overview')}}"><i class="far fa-calendar-alt"></i> {{_('Go to today')}}</a>
	{% endif %}
  </div>
  
</div>

<h1 class="page-loading">
	<i class="fas fa-spinner fa-spin"></i> {{_("Loading...")}}
</h1>		
<table class="table table-hover goal-table table-responsive page-loaded">
	<thead class="thead-dark">
		<tr>
			<th scope="row">
				<div class="td-sizer"></div>
			</th>
		{% for day in view.days() %}
			<th class="{% if view.today < day or (view.today - day).days > 2 or (view.today - day).days > 3 %}gt-desktop-only{%endif%}">
				{{day.strftime("%a")}}
			</th>
		{% endfor %}
		</tr>
		<tr>
			<th>
				{{ _("Goals") }}
			</th>
		{% for day in view.days() %}
			<th class="{% if view.today == day %}gt-today{%endif%} {% if view.today < day or (view.today - day).days > 2 %}gt-desktop-only{%endif%}">
				{{ day.strftime("%d") }}
			</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for goal in view.goals %}
			<tr data-goalpk="{{goal.pk}}" data-goalpoints="{{ goal.points_value }}" data-nextgoalpk="{{loop.nextitem.pk if not loop.last else ''}}">
				<th class="gt-row-title" scope="row" title="{{ goal.description }} (+{{ goal.points_value }} XP)" > 
				    <div class="gt-floating">
                        {{rowheader(goal)}}
				    </div>
				    <div>
				        {{rowheader(goal)}}
				    </div>
                </th>
				{% for day in view.days() %}
					{% set pg = goal.planned[day] if day in goal.planned else None %}
					<td data-day="{{day.isoformat()}}" class="{{ loop.cycle('table-active','') }} {% if view.today == day %}gt-today{%endif%} {% if view.today < day or (view.today - day).days > 2 %}gt-desktop-only{%endif%} {{ 'goal-active' if goal.isactive(day) else 'goal-inactive' }}">
						<span class="gt-daynum">{{day.strftime("%a")}}<br/>{{day.strftime("%d")}}</span>
						  <a  href="#" role="button" aria-haspopup="true" aria-expanded="false"
						  	{{ ('class="gt-updater-menu-trigger btn" data-jq-dropdown="#gt-updater-menu"' if view.isadmin or (pg and not pg.acheived)
						  		else 'class="gt-updater-menu-trigger gt-updater-menu-disabled btn"') | safe}} 
						  		data-goalpk="{{goal.pk}}" data-title="{{goal.name|qrefs2str}}">
						    {{ pg_icon(pg) }} 
						  </a>
						  
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
		<tr>
			<th scope="row" class="gt-floating">
				Total : <span id="gt-month-total">
			</th>
			{% for day in view.days() %}
			<td data-day="{{day.isoformat()}}" class="text-center gt-day-total {{ loop.cycle('table-active','') }} {% if view.today == day %}gt-today{%endif%} {% if view.today < day or (view.today - day).days > 2 %}gt-desktop-only{%endif%}">
			&nbsp;
			</td>
			{%endfor%}
		</tr>
	</tbody>
</table>
{% if view.isadmin %}
<div id="gt-updater-menu" class="jq-dropdown jq-dropdown-tip animated fadeIn">
 	<ul class="jq-dropdown-menu gt-desktop-only">
 		<li> <a title="Double click / long press" class="dropdown-item gt-notes-show-dropdown" href="#"><i class="fas fa-clipboard-list gt-icon fa-stack"></i>{{_("Review (Long press)")}}</a></li>
   	<li class="jq-dropdown-divider"></li>
   	<li>
 	<a class="dropdown-item gt-ajax-update" data-post="action=set-unplanned&goalpk=[goalpk]&day=[day]"
   		href="#">{{ pg_icon_html('fas fa-ban') }}{{ _("Not planned (Double Click)") }}</a>
   	</li><li>
   <a class="dropdown-item gt-ajax-update" data-post="action=set-planned&goalpk=[goalpk]&day=[day]"
   	href="#">{{ pg_planned_icon(0) }}{{ _("Planned (Double Click)") }}</a>
   {% for q in range(5,0,-1) %}
   	</li><li>
   	<a class="dropdown-item gt-ajax-update"  data-post="action=mark-done&goalpk=[goalpk]&day=[day]&quality={{q}}"
   		href="#">{{ quality_icon(q) }}{{ _("Done %(quality)d") % {"quality":q} }}</a>
   {% endfor %}
   	</li>
   </ul>
 </div>
{% else %}
<div id="gt-updater-menu" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu gt-desktop-only">
    <li>
   <a class="dropdown-item gt-ajax-update" data-post="action=byuser-set-planned&goalpk=[goalpk]&day=[day]"
    href="#">{{ pg_planned_icon(0) }}{{ _("Not done") }}</a>
   {% for q in range(5,0,-1) %}
    </li><li>
    <a class="dropdown-item gt-ajax-update"  data-post="action=byuser-mark-done&goalpk=[goalpk]&day=[day]&quality={{q}}"
        href="#">{{ quality_icon(q) }}{{ _("Done %(quality)d") % {"quality":q} }}</a>
   {% endfor %}
    </li>
   </ul>
 </div>
{% endif %}
<div class="modal fade" id="dlg-set-goal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ng-name" class="col-form-label">{{_("Name")}}</label>
            <input type="text" class="form-control" id="ng-name">
          </div>
          <div class="form-group">
            <label for="ng-points" class="col-form-label">{{_("Points")}}</label>
            <input type="number" min="1" step="1" class="form-control" id="ng-points" value="10">
          </div>
          <div class="form-group">
            <label for="ng-pos" class="col-form-label">{{_("Position")}}</label>
          	<select class="form-control" id="ng-pos">
          		<option value="{{view.goals[0].position-16 if view.goals|length else 0}}">
          			{{_("At beginning")}}
          		</option>
          	{% for goal in view.goals %}
          		<option value="{{(goal.position + loop.nextitem.position)/2 if not loop.last else goal.position+1}}">
					{{_("After '%s'") % goal.name|qrefs2str }}
				</option>
			{% endfor %}
				<option value="auto">
				    {{_("At the end")}}
				</option>
          	</select>
          </div>
          <div class="form-group">
            <label for="ng-desc" class="col-form-label">{{_("Details")}}</label>
            <textarea class="form-control" id="ng-desc"></textarea>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">{{_("Cancel")}}</button>
        <button type="button" class="btn btn-danger for-update-goal when-not-ended" data-toggle="modal" id="end-goal" data-toggle="modal" data-target="#dlg-stop-tracking" data-dismiss="modal" >{{_("Stop Tracking Goal")}}</button>
        <button type="button" class="btn btn-danger for-update-goal when-ended" data-toggle="modal" id="resume-goal">{{_("Resume Tracking Goal")}}</button>
        <button type="button" class="btn btn-primary for-update-goal" id="update-goal">{{_("Update goal")}}</button>
      	
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dlg-stop-tracking" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_('Stop tracking goals')}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="goal-list-todelete" class="col-form-label">
                {{ _("Select goals to delete (use Ctrl+Click to select many)")}}
                </label>
                <select id="goal-list-todelete" multiple="multiple">
                    {% for goal in view.goals %}
                    <option value="{{goal.pk}}">
                        {{goal.name|qrefs2str}}
                    </option>
                    {% endfor %}
                </select>
              </div>
              
            <div class="form-check">
              <input class="form-check-input" type="radio" name="end-goal-mode" id="end-goal-mode2" value="lastmonth" checked>
              <label class="form-check-label" for="end-goal-mode2">
                {{_('Remove from all current month.')}}
              </label>
            </div>
    	    <div class="form-check">
			  <input class="form-check-input" type="radio" name="end-goal-mode" id="end-goal-mode1" value="today">
			  <label class="form-check-label" for="end-goal-mode1">
			    {{_('Remove from today on : Remains visible until end of month')}}
			  </label>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirm-end-goal">{{_("Confirm")}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dlg-add-many-goals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Add goals")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="ng-pos-many" class="col-form-label">{{_("Where to add goals ?")}}</label>
            <select class="form-control" id="ng-pos-many">
                <option value="start">
                    {{_("At beginning")}}
                </option>
                <option value="end">
                    {{_("At the end")}}
                </option>
            {% for goal in view.goals %}
                <option value="{{(goal.position + loop.nextitem.position)/2 if not loop.last else goal.position+1}}">
                    {{_("After '%s'") % goal.name|qrefs2str }}
                </option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="goal-list" class="col-form-label">
            {{ _("Type one goal per line. (You can add a comma with the number of points after) ")|safe }}
            </label>
            <textarea rows="6" class="form-control" id="ng-goal-list" placeholder="Goal 1,10
Goal 2,50
Goal 3,500
..."></textarea>
          </div>
          <div class="form-group">
            <label for="ng-all-points" class="col-form-label">{{_("Points per goal")}}</label>
            <input type="number" min="1" step="1" class="form-control" id="ng-all-points" value="10">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-many-goals">{{_("Add goals")}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="dlg-edit-many-goals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Edit halka goals")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-group">
            <label for="eg-list" class="col-form-label">
            {{ _("There is one goal per line. you can reorder, remove or add new lines")|safe }}
            </label>
            <textarea rows="6" class="form-control" id="eg-list" placeholder="">
{%-for goal in view.goals %}
{{goal.name}} 
{%- endfor -%}
            </textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="edit-goals">{{_("Update goals")}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dlg-pg-notes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="pgn-goal-label">{{_("Review log")}}</span>&nbsp;<a data-dismiss="modal" class="pgn-edit-goal btn btn-primary" href="#something-to-prevent-scroll-top" data-toggle="modal" data-target="#dlg-set-goal" title="{{_('Edit goal')}}"><i class="far fa-edit"></i></a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	{% if view.isadmin %}
      	<div class="form-inline">
		  	<div class="mb-2 w-100" id="pgn-ayaref-sel"></div>
		  	<div class="mb-2 w-100">
		  		<label class="d-inline-block">{{_("Review grade")}}</label>
				<div id="pg-upd-status" class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label id="pgn-nogoal" class="btn btn-secondary active">
				    <input type="radio" name="goal-quality" data-value="markdone=False" autocomplete="off" title="{{_('No score')}}" checked> {{ pg_icon_html('fas fa-ban',cssclass="gt-icon gt-radio-icon gt-nogoal-icon") }}
				  </label>
				  {% for q in range(5,0,-1) %}
					  <label class="btn btn-secondary">
					    <input type="radio" name="goal-quality" data-value="markdone=True&quality={{q}}" autocomplete="off" title="{{ _('%(quality)d') % {'quality':q} }}"> {{ quality_icon(q,cssclass="gt-icon gt-radio-icon") }}
					  </label>
				  {% endfor %}
				</div>
			</div>
			<div class="form-check form-check-inline mb-2 mr-sm-2" title="{{_('Make visible to cheikh only')}}">
			  <input class="form-check-input" type="checkbox" id="pgn-keep-priv" value="option2">
			  <label class="form-check-label" for="pgn-keep-priv"><i class="far fa-eye-slash"></i> {{_("Hide from talib")}}</label>
			</div>
			<textarea class="form-control mb-2 w-100" id="pgn-note" placeholder="Review notes, you can use codes like A12 to reference ayas for exercises."></textarea>
			<div>
			<button id="pgn-back" class="btn btn-secondary mb-2" title="{{_('Go to previous goal')}}"><i class="fas fa-step-backward"></i></button>
				<button id="pgn-add" class="btn btn-primary mb-2" title="{{_('Save review')}}"><i class="fas fa-check"></i> Save and close</button>
				<button id="pgn-add-continue" class="btn btn-primary mb-2" title="{{_('Save review and continue to next goal')}}"><i class="fas fa-step-forward"></i>Next</button>
        	</div>
		</div>
		{% endif %}
		<h5>{{_("Review history")}}</h5>
		<div class="gt-note-list">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="dlg-all-notes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Notes for %s") % view.talib.get_full_name()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-full-screen" id="dlg-tlb-progress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Target of %s") % view.talib.get_full_name()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	{% with p = view.progress_chart %}
      	{% if view.isadmin and p.alert %} 
      	<div class="alert alert-warning" role="alert">
      		{% if p.tgt_delta  > 0 %}
		  		{{ _("Talib is %(progress)d points ahead of the target. We suggest you to raise his target to around %(suggested)d to keep the challenge interesting.") %
		  			{'progress': (p.tgt_delta), 'suggested': p.suggested_tgt} }}
		  	{% else %}
		  		{{ _("Talib is %(progress)d points behind of target. We suggest you to lower his target to around %(suggested)d to keep the challenge interesting.") %
		  			{'progress': -(p.tgt_delta), 'suggested': p.suggested_tgt} }}
		  	{% endif %}
		  	<div class="form-row align-items-center">
		  		<div class="col-auto">
		  			<input type="number" min="1" class="form-control" value="{{p.suggested_tgt}}" id="pr-tgt-val"/>
		  		</div>
		  		<div class="col-auto">
		  			<button type="button" class="btn btn-primary" id="pr-tgt-upd">{{_("Update Talib target")}}</button>
		  		</div>
		  	</div> 
		</div>
		{% endif %}
		{{ p.as_html()|safe }}
		{% endwith %}
      </div>
      <div class="modal-footer">
      {% if view.isadmin %}
      <button type="button" class="btn btn-secondary" id="pr-tgt-upd-dlg">{{_("Update Talib target")}}</button>
      {% endif %}
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>

{% if view.monthly_tgt_update_show %}
<script>
$(function(){$("#dlg-tlb-tgt-update").modal('show');});
</script>
<div class="modal modal-full-screen" id="dlg-tlb-tgt-update" tabindex="-1" role="dialog" data-show="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Target update suggestion for %s") % view.talib.get_full_name()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="alert alert-warning" role="alert">
      		{{view.mtu_reco|safe}}
		</div>
		{{ view.mtu_chart.as_html()|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal" id="dlg-self-review" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      		<div class="container">
      			<div class="row">
     				<audio class="col-8" id="hm-audio" controls></audio>
      				<div class="col-4">
			      		<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" id="hm-rew-5" class="btn btn-primary" title="_({{'Back 5 second'}})">
						  	<span class="fa-stack fa-xs">
							  <i class="fas fa-undo fa-stack-2x"></i>
							  <span class="fa-stack-1x">-5</span>
							</span>
						  </button>
						  <button type="button" id="hm-ff-5" class="btn btn-primary" title="_({{'Back 5 second'}})">
						  	<span class="fa-stack fa-xs">
							  <i class="fas fa-redo fa-stack-2x"></i>
							  <span class="fa-stack-1x">+5</span>
							</span>
						  </button>
						  
						</div>
			      		<select id="rev-checkpoints"></select>
			      	</div>
			     </div>
			 </div>
      </div>
      <div class="modal-footer">
      	{% if view.isadmin %}
        <button id="rev-mark-checked" type="button" class="btn btn-primary" data-dismiss="modal">{{_("Mark checked")}}</button>
        {% endif %}
        <button id="rev-continue-later" type="button" class="btn btn-secondary" data-dismiss="modal">{{_("Close")}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<div id="dlg-self-review-placeholder" style="height:10em"/>
{% endblock %}