{% extends "base.html" %}
{% block container_css_class %}container-fluid{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/jquery.dropdown.min.css')}}">
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<link rel="stylesheet" href="{{static('hifztrack/css/htrack.css')}}">
<script type="text/javascript" src="{{ static("hifztrack/js/Chart.bundle.min.js") }}"></script>
<script type="text/javascript" src="{{ static("hifztrack/js/jquery.dropdown.min.js") }}"></script>
<script type="text/javascript" src="{{ static("hifztrack/js/hifzo/hifzo.js") }}"></script>
{% endblock head%}
{% block content %}
<h2>
    <a href="{{url('curr_month_overview',kwargs={'pk':view.halka.pk,'talib':view.talib.user.username})}}" class="btn btn-primary" title="{{_('Open Overview')}}"><i class="far fa-calendar-alt"></i></a>
    <a href="{{url('dashboard',kwargs={'pk':view.halka.pk})}}" class="btn btn-primary" title="{{_('Open Dashboard')}}"><i class="fas fa-book"></i></a>

    <select class="link-select">
        {% for halka in view.talib_halkas %}
            <option {{'selected=selected' if halka == view.halka else ''}} value="{{url('progress',kwargs={'pk':halka.pk,'talib':view.talib.user.username})}}">{{ halka.name }}</option>
        {% endfor %}
        <option value="{{url('cheikh_home')}}?mode=halka">{{_("Other halkas ...")}}</option>
    </select> -
	{% if view.isadmin %}
	<select class="link-select">
		{% for talib in view.halka.talib_set.all() %}
			<option {{'selected=selected' if talib == view.talib else ''}} value="{{url('progress',kwargs={'pk':view.halka.pk,'talib':talib.user.username})}}">{{ talib.get_full_name() }}</option>
		{% endfor %}
        <option value="{{url('cheikh_home')}}?mode=talib">{{_("Other talibs ...")}}</option>
	</select>
	{% endif %}
</h2>


<div class="list-group">
    {% for goal in view.goals %}
<a href="#" class="list-group-item flex-column align-items-stretch">
    <div class="d-flex w-100 justify-content-between">
        <div>
          <h5 class="mb-1">{{ goal.name|qrefs2html }}</h5>
          <p class="mb-1">{{ goal.description or ''|qrefs2html }}</p>
        </div>
            {%if goal.lastacheived != None %}
            <div class="d-flex flex-column align-items-end">
                <small>{{goal.lastacheived|naturalday}} <i class="fa fa-thumbs-up"></i></small>

                {% if goal.status in ['rewardable'] and view.talib.user == request.user%}
                <button class="btn btn-primary gt-ajax-update" data-post="action=reward&gpk={{goal.pk}}"><i class="fas fa-box"></i></button>
                {% elif goal in view.won_awards_per_goal and view.talib.user == request.user%}
                    <div class="award-collection" style="font-size: 0.3em">
                        {{ view.won_awards_per_goal[goal].definition.icon_html |safe }}
                    </div>
                {% else %}
                <span class="badge badge-pill badge-success"><i class="fas fa-box-open"></i>{{_("acheived")}}</span>
                {% endif %}
            </div>
            {%elif goal.lasttalibscore != None%}
            <div class="d-flex flex-column  align-items-end">
                <small>{{goal.lasttalibscore|naturalday}} <i class="far fa-thumbs-up"></i></small>
                {% if view.isadmin %}
                <button class="btn btn-primary btn-sm align-self-end gt-ajax-update"
                                                   data-post="action=mark-done&goalpk={{goal.pk}}&day={{goal.lasttalibscore}}">
                    <i class="fas fa-check-circle"></i> {{ _("Confirm")}}
                </button>
                {% else %}
                <span class="badge badge-pill badge-danger">{{_("to confirm")}}</span>
                {% endif %}
            </div>
            {% else %}
            <div class="align-self-center"><button class="btn btn-primary gt-ajax-update"
                                                   data-post="action={% if not view.isadmin %}byuser-{%endif%}mark-done&goalpk={{goal.pk}}"><i class="fas fa-thumbs-up"></i></button></div>
            {%endif%}


    </div>
  </a>
    {% endfor %}
</div>


<script type="text/plain" id="tpl-ajax-updating">
    <i class="fas fa-spinner fa-spin"></i>
</script>

<script type="text/plain" id="tpl-ajax-success">
    <div class="text-right">
    <i class="animated {{view.random_animation()}} fas fa-thumbs-up fa-2x text-success"></i>
    {% if not view.isadmin %}
    <br/><small class="animated fadeIn text-danger">{{_("Ask cheikh to confirm")}}</small>
    {% endif %}
    </div>
</script>

<script type="text/plain" id="tpl-ajax-error">
    <i class="fas fa-thumbs-down fa-2x text-danger"></i>
</script>

<script type="text/plain" id="tpl-ajax-reward-success">
    <div class="animated {{view.random_animation()}} award-collection" style="font-size: 0.3em">
        [new_award.icon]
    </div>
</script>
{% endblock %}
{% block footer %}
{% endblock %}