{% extends "base.html" %}
{% block title %} 
	{{ _("Acheivements of %s") % view.get_full_name() }} 
{% endblock %}
{% block head %}
<script type="text/javascript">
	$(function(){
		$(".link-select").change(function(){
			var url = $(this).val();
			if(url) location.href=url;
		})
	})	
</script>
{% endblock head%}
{% block content %}
<h2 class="tw-date-select">
	<select class="link-select">
		{% for year in range(view.year-2, view.year+3) %}
			<option {{'selected=selected' if year == view.year else ''}} value="{{url('mywall',kwargs={'year':year})}}">{{ year }}</option>
		{% endfor %}
	</select>
{% if not view.is_current %}
<a href="{{url('mywall',kwargs={'year':view.year})}}" title="{{_('This year')}}"><i class="far fa-calendar-alt"></i></a>
{% endif %}
</h2>

<div class="container">
	<div class="row">
	{% for month in range(1,13) %}
		<div class="col-md-4">
			<div class="card {{ 'highlight-card' if not view.is_month_in_future(month) else 'secondary-card'}}">
				<h3 class="card-title text-center">{{view.get_month_name(month)}}</h3>
				<div class="card-body">
					{% for talib in view.talibs %}
					<h4>{{talib.halka.name}}</h4>
					<p class="mywall-coll award-collection">
						{% set awards = talib.get_won_awards(view.get_last_day_of_month(month)) %}
						{% if not awards %}
							{{ _("No awards this month") }}	
						{% else %}
		  				{% for lvl in awards %}
		  					{{ lvl.definition.icon_html|safe }}
		  				{% endfor %}
		  				{% endif %}
		  			</p>
		  			{% endfor %}
		  		</div>
	  		</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}