{% extends "base.html" %}
{% block container_css_class %}container-fluid{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<script type="text/javascript" src="{{ static('hifztrack/js/web-audio-recorder/WebAudioRecorder.js') }}"></script>
<script>


$(function(){
	var $r = $("#rev-timer-msg");
	//Recorder
	function moveToRecState(state) {
		$(".for-something").hide();
		$(".for-"+state).show();
		$(".exa-recorder").removeClass("default recording paused").addClass(state);
		if(state == "paused")
			$r.addClass("animated flash infinite slow");
		else
			$r.removeClass("animated flash infinite slow");
	}
	
	moveToRecState("initializing");
	
	var mediaRecorder;
	
	function recTimeAsStr(rt) {
		var min = Math.floor(rt/60);
		var sec = Math.floor(rt - 60*min);
		if (min < 10) min = "0"+min;
		if (sec < 10) sec = "0"+sec;
		return min+":"+sec;
	}
	function updateRecTimer() {
		if(!mediaRecorder || !mediaRecorder.isRecording()) return;
		$r.html(recTimeAsStr(mediaRecorder.recordingTime()));
	}
	
	setInterval(updateRecTimer,1000);
	
	navigator.mediaDevices.getUserMedia({ audio: true })
	  .then(function(mediaStream) {
		  	moveToRecState("default");
		 	var stream = mediaStream;
			var audioContext = new AudioContext();
			mediaRecorder =  new WebAudioRecorder(audioContext.createMediaStreamSource(stream), {
				  workerDir:'{{ static("hifztrack/js/web-audio-recorder") }}/',
				  encoding: 'ogg',
				  numChannels: 1,
				  options: {
					  timeLimit: 1800,
					  ogg: {quality: parseFloat((location.hash || "#-0.1").substr(1))}
				  },
				  onError: function(recorder, message){
					  alert("{{_('Error recording audio')}} : \n"+message);
				  },
				  onComplete: function (recorder, blob) {
					  console.log("got it !" + blob.size);
					  
					  var data = new FormData($("#rev-form")[0]);
					  data.append("audio", blob);
					  
					  var oReq = new XMLHttpRequest();
					  oReq.open("POST","selfreview");
					  oReq.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
					  oReq.onload = function(oEvent) {
					    if (oReq.status == 200) {
					    	moveToRecState("default");
					      	$("#dlg-upload-end").modal('show');
					    } else {
					    	alert("_('Error saving your review')");
					    }
					  };
					  $("#rev-upload-progress").removeClass("fade");
					  oReq.onprogress = function(oEvent) {
					    if (oEvent.lengthComputable) {
					      var percentComplete = oEvent.loaded / oEvent.total * 100;
					      $("#ex-pbar").css('width',percentComplete+"%");
					    } else {
					      // Unable to compute progress information since the total size is unknown
					    }
					  };
					  oReq.send(data);  
				  }
			});
	  });
	
	
	
	$(document).delegate(".exa-recorder.recording", "click",function(){
		mediaRecorder.pauseRecording();
		moveToRecState("paused");
	});
	
	$(document).delegate(".exa-recorder.paused", "click",function(){
		mediaRecorder.resumeRecording();
		moveToRecState("recording");
	});
			
	$(document).delegate(".exa-recorder.default", "click",function() {
		if(!mediaRecorder) {
			alert("{{_('Could not initialize audio. You can try to reload the page, the browser or check its settings.')}}");
			return;
		}
		
		moveToRecState("recording");
		mediaRecorder.startRecording();
	});
	
	$("#rev-done").click(function(ev){
		if(!mediaRecorder || !mediaRecorder.isRecording()) {
			alert("Record yourself first");
		}
		moveToRecState("saving");
		mediaRecorder.finishRecording();
		ev.preventDefault();
	});
	
	$("#rev-add-checkpoint").click(function(ev){
		if(!mediaRecorder || !mediaRecorder.isRecording()) return;
		var rt = mediaRecorder.recordingTime()	
		$("#rev-checkpoint-box").append('<span class="rev-checkpoint badge badge-pill badge-info"><i class="fas fa-flag"></i>'+recTimeAsStr(rt)+'</span>');
		$("#rev-checkpoint-box").append('<input type="hidden" name="checkpoint" value="'+Math.floor(rt)+'"/>');
	})

})
</script>
{% endblock %}
{% block content %}

<form method="POST" id="rev-form">
<table class="ex-body bg-hifzo">
<tr class="ex-progress-row" >
		<td colspan="2" class="ex-progress pl-5">
			<div id="rev-upload-progress" class="progress fade">
				<div id="ex-pbar" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<a class="ex-close" href="{{url('dashboard',kwargs={'pk':view.halka.pk})}}" class="close">
	          <span aria-hidden="true">&times;</span>
	        </a>
		</td>
	</tr>
	<tr class="ex-title-row">
		<td colspan="2" class="ex-title">
			{{ view.halka.name }}
		</td>
	</tr>
	<tr class="ex-question-row">
		<td colspan="2" class="ex-question px-md-5">
			<div class="row">
				<div class="col-md-3 text-center">
					<a class="exa-recorder btn btn-primary">
						<span class="exar-msg for-something for-initializing">{{_("Initializing")}}</span>
						<span class="exar-msg for-something for-default ">{{_("Click to start")}}</span>
						<span id="rev-timer-msg" class="exar-msg for-something for-recording for-paused">{{_("Recording ...")}}</span>
						<span class="exar-msg for-something for-saving">{{_("Sending ...")}}</span>
						<i class="exar-icon for-something for-default for-recording fas fa-microphone"></i>
						<i class="exar-icon for-something for-paused fas fa-microphone-slash"></i>
						<i class="exar-icon for-something for-initializing for-saving fas fa-spinner fa-spin"></i>
					</a>
					<div id="rev-checkpoint-box">
					<a id="rev-add-checkpoint" class="for-something for-recording btn btn-primary" title="Add checkpoint"><i class="fas fa-flag"></i></a>
					
					</div>
				</div>
				<div class="col-md-9 rev-goallist">
					<div class="row">
					{% for g in view.goals %}
					<div class="col-md-3">
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="rev-goal-btn ex-btn btn btn-secondary w-100 {{ 'active' if g.pk == view.suggestedgoal.pk else '' }}" title="{{g.name}}">
						    <input name="goal" value="{{g.pk}}" type="checkbox" {{ 'checked' if g.pk == view.suggestedgoal.pk else '' }} autocomplete="off"> {{g.name|qrefs2str}}
						  </label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</td>
	</tr>
	<tr class="ex-footer-row">
		<td class="text-center">
				<a href="{{url('dashboard',kwargs={'pk':view.halka.pk})}}" class="ex-btn btn btn-secondary">{{_("Cancel")}}</button>
		</td>
		<td class="text-center">
			<button id="rev-done" class="ex-btn btn btn-primary" type="submit">{{_("Done")}}</button>
		</td>
	</tr>
</table>
</form>
<div class="modal fade" id="dlg-upload-end" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_("Review finished")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{_("Review finished, what do you want to do ?")}}
      </div>
      <div class="modal-footer">
        <a href="{{url('dashboard',kwargs={'pk':view.halka.pk})}}" class="btn btn-primary">{{_("Go back to dashboard")}}</button>
        <a href="javascript:location.reload()" class="btn btn-secondary" data-dismiss="modal">{{_("Start another review")}}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}