{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{static('hifztrack/css/animate.css')}}">
<script type="text/javascript" src="{{ static("hifztrack/js/Chart.bundle.min.js") }}"></script>
{% endblock %}
{% block content %}
<div class="container">
	{% if (view.all_user_sohbas|length > 1) %}
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-tabs">
			  {% for s in view.all_user_sohbas %}
			  <li class="nav-item">
			  	{% if s == view.sohba %}
			    <a class="nav-link active" href="#">{{s.name}}</a>
			    {% else %}
			    <a class="nav-link" href="{{url('sohba',kwargs={'pk':s.pk})}}">{{s.name}}</a>
			    {% endif %}
			  </li>
			  {% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-12">
		<h1>{{ view.sohba.name }} 
			<a href="{{url('sohba',kwargs={'pk':view.sohba.pk})}}?target={{'ramp' if view.isflat else 'flat'}}" class="btn btn-primary" title="{{_('Change diagram')}}"><i class="fas fa-chart-line"></i></a>
	 	</h1>
		</div>
		<div class="col-12">
			{{ view.chart.as_html(sohbapk=view.sohba.pk,flattarget=view.isflat)|safe }}
		</div>
	</div>
</div>
{% endblock %}